@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
/* Less Elements */
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* Common style information between print and screen */
/*
 * Variables 
 */
/* Need to use the below when multiplying */
/* Common Mixins */
/* Font Definitions */
/* Functions */
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  color: #333333;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  /* Carbon fibre 
	 * by Atle Mo (design), Lea Verou (code)
	 * from http://lea.verou.me/css3patterns/#carbon-fibre */

  background: radial-gradient(#000000 15%, transparent 16%) 0 0, radial-gradient(#000000 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
p {
  margin: 1em 0;
}
a {
  color: #00a;
}
a:hover {
  color: #000;
}
a:visited {
  color: #a0a;
}
table {
  font-size: inherit;
}
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.container .site {
  /*	background*/

  background-color: #ffffff;
  /* text */

  font-size: 18px;
  line-height: 1.5em;
  text-align: left;
  text-rendering: optimizelegibility;
  font-weight: 300;
  /* Sizing */

  width: 60%;
  padding-bottom: 0px;
  /*****************************************************************************/

  /*
    	/* Profile
    	/*
    	/*****************************************************************************/

}
.container .site a {
  color: #333333;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-decoration: underline;
}
.container .site a:hover {
  color: transparent;
  text-shadow: 0 0 1px #333333;
}
.container .site h2 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: left;
}
.container .site .sidebar {
  float: right;
  display: inline-block;
}
.container .site .sidebar li {
  margin-left: 2em;
}
.container .site hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 1em;
  margin-bottom: 1em;
}
.container .site .header {
  /* Background */

  background-color: #ffffff;
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(left, #5d83c4 0%, #ffffff 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(left, #5d83c4 0%, #ffffff 100%);
  /* Opera */
  background-image: -o-linear-gradient(left, #5d83c4 0%, #ffffff 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #5d83c4), color-stop(1, #ffffff));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(left, #5d83c4 0%, #ffffff 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to right, #5d83c4 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5d83c4, endColorstr=#ffffff, GradientType=1);
  width: 60%;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  position: fixed;
  top: 0px;
  height: 4em;
  padding-top: 1em;
  z-index: 100000;
  border-bottom: 4px solid #eee;
  margin-bottom: 0.5em;
}
.container .site .header h1.title {
  display: inline-block;
  float: left;
  color: #475261;
}
.container .site .header #nav li {
  display: inline;
}
.container .site .header .links {
  width: 100%;
  display: inline-block;
  text-align: left;
  line-height: 3em;
  height: 1.5em;
}
.container .site .header .links ul {
  list-style-type: none;
}
.container .site .header .links ul li {
  display: inline;
}
.container .site .header .links ul li a {
  text-decoration: none;
}
.container .site .header .links ul li a:hover {
  text-decoration: underline;
}
.container .site .content {
  margin-top: 4.5em;
}
.container .site .content .archivesHeader {
  position: relative;
  padding: 6px 20px 6px 70px;
  margin: 30px 10px 10px -70px;
  background-color: #5d83c4;
  text-shadow: 0px 1px 2px #808080;
  -webkit-box-shadow: 0px 2px 4px #888888;
  -moz-box-shadow: 0px 2px 4px #888888;
  box-shadow: 0px 2px 4px #888888;
}
.container .site .content .archivesHeader:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: 100%;
  border-width: 5px 10px;
  border-style: solid;
  border-color: #325289 #325289 transparent transparent;
}
.container .site .content .archivesHeader:before {
  content: ' ';
  position: absolute;
  width: 30px;
  height: 0;
  left: -30px;
  top: 12px;
  border-width: 20px 10px;
  border-style: solid;
  border-color: #5d83c4 #5d83c4 #5d83c4 transparent;
}
.container .site .content .archivesHeader h2 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: left;
}
.container .site .content .archives {
  margin-top: 1em;
  list-style: none;
}
.container .site .content .archives li {
  margin-bottom: 2px;
  overflow: hidden;
}
.container .site .content .archives .year {
  display: inline-block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  vertical-align: top;
}
.container .site .content .archives .meta {
  float: left;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  width: 4em;
  border-color: #333333;
  border-right: 1px;
  vertical-align: middle;
}
.container .site .content .archives .title {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  overflow: hidden;
  padding-left: 4px;
}
.container .site .content .archives ul {
  display: inline-block;
  list-style: none;
}
.container .site .content .pagination {
  text-align: center;
}
.container .site .content .pagination ul {
  list-style: none;
}
.container .site .content .pagination ul li {
  display: inline-block;
  margin-right: 1em;
}
.container .site .tagListTitle {
  display: inline-block;
  vertical-align: top;
}
.container .site .post {
  text-align: left;
}
.container .site .post header {
  position: relative;
  padding: 6px 20px 6px 70px;
  margin: 30px 10px 10px -70px;
  background-color: #5d83c4;
  text-shadow: 0px 1px 2px #808080;
  -webkit-box-shadow: 0px 2px 4px #888888;
  -moz-box-shadow: 0px 2px 4px #888888;
  box-shadow: 0px 2px 4px #888888;
}
.container .site .post header:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: 100%;
  border-width: 5px 10px;
  border-style: solid;
  border-color: #325289 #325289 transparent transparent;
}
.container .site .post header:before {
  content: ' ';
  position: absolute;
  width: 30px;
  height: 0;
  left: -30px;
  top: 12px;
  border-width: 20px 10px;
  border-style: solid;
  border-color: #5d83c4 #5d83c4 #5d83c4 transparent;
}
.container .site .post header h2 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: left;
}
.container .site .post header .meta {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: right;
  border-color: #333333;
  border-left: 1px;
  float: right;
  height: 100%;
  display: block;
}
.container .site .post h3 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-decoration: underline;
}
.container .site .post img {
  max-width: 100%;
}
.container .site .post blockquote {
  background-color: #e6e6e6;
}
.container .site .post ul {
  list-style-type: circle;
}
.container .site .post ul li {
  padding-left: 2em;
}
.container .site .post footer .page-navigation {
  padding-bottom: 2px;
  margin-bottom: 2px;
}
.container .site .post footer .page-navigation .next {
  float: right;
  white-space: nowrap;
}
.container .site .footer {
  font-size: 80%;
  color: #333333;
  border-top: 4px solid #eee;
  overflow: hidden;
  width: 100%;
}
.container .site .footer img {
  height: 16px;
  width: 16px;
}
.container .site .footer .contact {
  float: left;
  margin-right: 3em;
}
.container .site .footer .contact .details {
  margin: 0px;
}
.container .site .footer a {
  color: #333333;
}
.container .site .footer a:hover {
  color: #aaaaaa;
}
.container .site .footer ul.social {
  float: right;
}
.container .site .footer ul.social .github {
  list-style: none;
  background-image: url('/images/GitHub-Mark-32px.png');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 0px 4px;
  padding-left: 20px;
}
.container .site .footer ul.social .twitter {
  list-style: none;
  background-image: url('/images/twitter-bird-16x16.png');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 0px 4px;
  padding-left: 20px;
}
.container .site .footer .rss {
  margin-top: 1.1em;
  margin-right: -0.2em;
  float: right;
}
.container .site .footer .rss img {
  border: 0;
}
.container .site .footer .copy {
  float: none;
  width: 100%;
  display: inline-block;
  text-align: center;
}
.container .site .footer .copy p {
  /* TODO: */

}
.container .site .profile {
  padding-top: 40px;
  /* H1, H2 and ing used for profile heading */

  /* H3-5 used in main profile */

}
.container .site .profile img {
  background-color: #ffffff;
  border: 1px solid #dedede;
  padding: 10px;
  height: 100px;
}
.container .site .profile h1 {
  color: #475261;
  font-weight: 600;
  display: inline-block;
  margin-top: 1em;
}
.container .site .profile h2 {
  margin-top: 10px;
  color: #475261;
  text-transform: uppercase;
  font-weight: 600;
}
.container .site .profile p:nth-of-type(1) {
  margin: 0;
}
.container .site .profile p:nth-of-type(1) a:nth-of-type(1) {
  vertical-align: top;
}
.container .site .profile h3 {
  display: block;
  width: 100%;
  font-style: italic;
  float: left;
  display: inline-block;
  color: #475261;
  font-weight: 600;
}
.container .site .profile h5 {
  display: inline-block;
}
.container .site .profile h6 {
  /* H6 is used for the date section */

  text-transform: uppercase;
}
.container {
  font-size: 18px;
}
.container .site {
  /* text */

  font-size: 18px;
  /* Sizing */

  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
.container .site h2 {
  font-size: 32px;
}
.container .site .header {
  width: 60%;
}
.container .site .header h1.title {
  margin-left: 32px;
  font-size: 44px;
}
.container .site .header #nav ul {
  margin-left: 32px;
}
.container .site .header .links {
  font-size: 22px;
}
.container .site .header .links ul li {
  padding-right: 18px;
}
.container .site .content {
  padding: 1em 2em 1em 2em;
}
.container .site .content .archivesHeader h2 {
  font-size: 32px;
}
.container .site .content .archives .year {
  font-size: 18px;
}
.container .site .content .archives .meta {
  font-size: 18px;
}
.container .site .content .archives .title {
  font-size: 18px;
}
.container .site .content .archives ul {
  margin-left: 44px;
}
.container .site .post header h2 {
  font-size: 32px;
}
.container .site .post header .meta {
  font-size: 18px;
}
.container .site .post h3 {
  font-size: 25px;
}
.container .site .post footer .inlineListTags {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
  display: inline-block;
}
.container .site .post footer .inlineListTags li {
  padding-left: 1em;
}
.container .site .post footer .inlineListTags li,
.container .site .post footer .inlineListTags a {
  float: left;
  height: 27px;
  line-height: 1.5em;
  position: relative;
  font-size: 18px;
}
.container .site .post footer .inlineListTags a {
  /**
 * http://cssglobe.com/pure-css3-post-tags/
 */

  -moz-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  margin-left: 9px;
  padding: 0 10px 0 12px;
  background: #0089e0;
  color: #ffffff;
  text-decoration: none;
  -webkit-border-top-right-radius: 4.5px;
  -webkit-border-bottom-right-radius: 4.5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 4.5px;
  -moz-border-radius-bottomright: 4.5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 4.5px;
  border-bottom-right-radius: 4.5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.container .site .post footer .inlineListTags a:before {
  content: "";
  float: left;
  position: absolute;
  top: 0;
  left: -14px;
  width: 0;
  height: 0;
  border-color: transparent #0089e0 transparent transparent;
  border-style: solid;
  border-width: 14px 14px 14px 0;
}
.container .site .post footer .inlineListTags a:after {
  content: "";
  position: absolute;
  top: 11.75px;
  left: 0;
  float: left;
  width: 4.5px;
  height: 4.5px;
  -webkit-border-radius: 2.25px;
  -moz-border-radius: 2.25px;
  border-radius: 2.25px;
  background: #ffffff;
  -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
}
.container .site .post footer .inlineListTags a:hover {
  background: #808080;
}
.container .site .post footer .inlineListTags a:hover:before {
  border-color: transparent #808080 transparent transparent;
}
.container .site .post footer .inlineListCategories {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
  display: inline-block;
}
.container .site .post footer .inlineListCategories li {
  padding-left: 1em;
}
.container .site .post footer .inlineListCategories li,
.container .site .post footer .inlineListCategories a {
  float: left;
  height: 27px;
  line-height: 1.5em;
  position: relative;
  font-size: 18px;
}
.container .site .post footer .inlineListCategories a {
  /**
 * http://cssglobe.com/pure-css3-post-tags/
 */

  -moz-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  margin-left: 9px;
  padding: 0 10px 0 12px;
  background: #e82c0c;
  color: #ffffff;
  text-decoration: none;
  -webkit-border-top-right-radius: 4.5px;
  -webkit-border-bottom-right-radius: 4.5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 4.5px;
  -moz-border-radius-bottomright: 4.5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 4.5px;
  border-bottom-right-radius: 4.5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.container .site .post footer .inlineListCategories a:before {
  content: "";
  float: left;
  position: absolute;
  top: 0;
  left: -14px;
  width: 0;
  height: 0;
  border-color: transparent #e82c0c transparent transparent;
  border-style: solid;
  border-width: 14px 14px 14px 0;
}
.container .site .post footer .inlineListCategories a:after {
  content: "";
  position: absolute;
  top: 11.75px;
  left: 0;
  float: left;
  width: 4.5px;
  height: 4.5px;
  -webkit-border-radius: 2.25px;
  -moz-border-radius: 2.25px;
  border-radius: 2.25px;
  background: #ffffff;
  -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
}
.container .site .post footer .inlineListCategories a:hover {
  background: #808080;
}
.container .site .post footer .inlineListCategories a:hover:before {
  border-color: transparent #808080 transparent transparent;
}
.container .site .footer {
  z-index: 1;
}
.container .site .footer .contact {
  padding-left: 2em;
}
.container .site .footer ul.social {
  padding-right: 2em;
}
.container .site .profile {
  /* H1, H2 and ing used for profile heading */

  /* H3-5 used in main profile */

}
.container .site .profile img {
  margin-top: -81px;
}
.container .site .profile h1 {
  font-size: 44px;
  margin-left: 86px;
}
.container .site .profile h2 {
  padding-left: 162px;
  font-size: 32px;
}
.container .site .profile h3 {
  font-size: 24px;
}
.container .site .profile h4 {
  padding-left: 162px;
  font-size: 24px;
}
.container .site .profile h5 {
  padding-left: 162px;
  font-size: 15px;
}
.container .site .profile h6 {
  /* H6 is used for the date section */

  padding-left: 162px;
  font-size: 15px;
}
.container .site .profile p {
  padding-left: 162px;
}
.container .site .profile p:nth-of-type(1) {
  padding-left: 0px;
}
.container .site .profile ul {
  padding-left: 182px;
}
.container .site .profile ul li ul {
  /* Need to switch back for nested lists to have less padding */

  padding-left: 2em;
}
@media (max-device-width: 1024px) {
  /*IPad portrait AND netbooks, AND anything with smaller screen*/
  /*make the design flexible if possible */
  /*Structure your code thinking about all devices that go below*/
  .container {
    font-size: 12px;
  }
  .container .site {
    /* text */
  
    font-size: 12px;
    /* Sizing */
  
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .container .site h2 {
    font-size: 21px;
  }
  .container .site .header {
    width: 80%;
  }
  .container .site .header h1.title {
    margin-left: 21px;
    font-size: 29px;
  }
  .container .site .header #nav ul {
    margin-left: 21px;
  }
  .container .site .header .links {
    font-size: 14.5px;
  }
  .container .site .header .links ul li {
    padding-right: 12px;
  }
  .container .site .content {
    padding: 1em 2em 1em 2em;
  }
  .container .site .content .archivesHeader h2 {
    font-size: 21px;
  }
  .container .site .content .archives .year {
    font-size: 12px;
  }
  .container .site .content .archives .meta {
    font-size: 12px;
  }
  .container .site .content .archives .title {
    font-size: 12px;
  }
  .container .site .content .archives ul {
    margin-left: 29px;
  }
  .container .site .post header h2 {
    font-size: 21px;
  }
  .container .site .post header .meta {
    font-size: 12px;
  }
  .container .site .post h3 {
    font-size: 16.5px;
  }
  .container .site .post footer .inlineListTags {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    list-style: none;
    display: inline-block;
  }
  .container .site .post footer .inlineListTags li {
    padding-left: 1em;
  }
  .container .site .post footer .inlineListTags li,
  .container .site .post footer .inlineListTags a {
    float: left;
    height: 18px;
    line-height: 1.5em;
    position: relative;
    font-size: 12px;
  }
  .container .site .post footer .inlineListTags a {
    /**
   * http://cssglobe.com/pure-css3-post-tags/
   */
  
    -moz-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    margin-left: 6px;
    padding: 0 10px 0 12px;
    background: #0089e0;
    color: #ffffff;
    text-decoration: none;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .container .site .post footer .inlineListTags a:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -9px;
    width: 0;
    height: 0;
    border-color: transparent #0089e0 transparent transparent;
    border-style: solid;
    border-width: 9px 9px 9px 0;
  }
  .container .site .post footer .inlineListTags a:after {
    content: "";
    position: absolute;
    top: 7.5px;
    left: 0;
    float: left;
    width: 3px;
    height: 3px;
    -webkit-border-radius: 1.5px;
    -moz-border-radius: 1.5px;
    border-radius: 1.5px;
    background: #ffffff;
    -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
  }
  .container .site .post footer .inlineListTags a:hover {
    background: #808080;
  }
  .container .site .post footer .inlineListTags a:hover:before {
    border-color: transparent #808080 transparent transparent;
  }
  .container .site .post footer .inlineListCategories {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    list-style: none;
    display: inline-block;
  }
  .container .site .post footer .inlineListCategories li {
    padding-left: 1em;
  }
  .container .site .post footer .inlineListCategories li,
  .container .site .post footer .inlineListCategories a {
    float: left;
    height: 18px;
    line-height: 1.5em;
    position: relative;
    font-size: 12px;
  }
  .container .site .post footer .inlineListCategories a {
    /**
   * http://cssglobe.com/pure-css3-post-tags/
   */
  
    -moz-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    margin-left: 6px;
    padding: 0 10px 0 12px;
    background: #e82c0c;
    color: #ffffff;
    text-decoration: none;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .container .site .post footer .inlineListCategories a:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -9px;
    width: 0;
    height: 0;
    border-color: transparent #e82c0c transparent transparent;
    border-style: solid;
    border-width: 9px 9px 9px 0;
  }
  .container .site .post footer .inlineListCategories a:after {
    content: "";
    position: absolute;
    top: 7.5px;
    left: 0;
    float: left;
    width: 3px;
    height: 3px;
    -webkit-border-radius: 1.5px;
    -moz-border-radius: 1.5px;
    border-radius: 1.5px;
    background: #ffffff;
    -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
  }
  .container .site .post footer .inlineListCategories a:hover {
    background: #808080;
  }
  .container .site .post footer .inlineListCategories a:hover:before {
    border-color: transparent #808080 transparent transparent;
  }
  .container .site .footer {
    z-index: 1;
  }
  .container .site .footer .contact {
    padding-left: 2em;
  }
  .container .site .footer ul.social {
    padding-right: 2em;
  }
  .container .site .profile {
    /* H1, H2 and ing used for profile heading */
  
    /* H3-5 used in main profile */
  
  }
  .container .site .profile img {
    margin-top: -74px;
  }
  .container .site .profile h1 {
    font-size: 29px;
    margin-left: 86px;
  }
  .container .site .profile h2 {
    padding-left: 108px;
    font-size: 21px;
  }
  .container .site .profile h3 {
    font-size: 16px;
  }
  .container .site .profile h4 {
    padding-left: 108px;
    font-size: 16px;
  }
  .container .site .profile h5 {
    padding-left: 108px;
    font-size: 10px;
  }
  .container .site .profile h6 {
    /* H6 is used for the date section */
  
    padding-left: 108px;
    font-size: 10px;
  }
  .container .site .profile p {
    padding-left: 108px;
  }
  .container .site .profile p:nth-of-type(1) {
    padding-left: 0px;
  }
  .container .site .profile ul {
    padding-left: 128px;
  }
  .container .site .profile ul li ul {
    /* Need to switch back for nested lists to have less padding */
  
    padding-left: 2em;
  }
}
@media only screen and (max-width: 1024px) {
  /*IPad portrait AND netbooks, AND anything with smaller screen*/
  /*make the design flexible if possible */
  /*Structure your code thinking about all devices that go below*/
  .container {
    font-size: 16px;
  }
  .container .site {
    /* text */
  
    font-size: 16px;
    /* Sizing */
  
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .container .site h2 {
    font-size: 28px;
  }
  .container .site .header {
    width: 90%;
  }
  .container .site .header h1.title {
    margin-left: 28px;
    font-size: 39px;
  }
  .container .site .header #nav ul {
    margin-left: 28px;
  }
  .container .site .header .links {
    font-size: 19.5px;
  }
  .container .site .header .links ul li {
    padding-right: 16px;
  }
  .container .site .content {
    padding: 1em 2em 1em 2em;
  }
  .container .site .content .archivesHeader h2 {
    font-size: 28px;
  }
  .container .site .content .archives .year {
    font-size: 16px;
  }
  .container .site .content .archives .meta {
    font-size: 16px;
  }
  .container .site .content .archives .title {
    font-size: 16px;
  }
  .container .site .content .archives ul {
    margin-left: 39px;
  }
  .container .site .post header h2 {
    font-size: 28px;
  }
  .container .site .post header .meta {
    font-size: 16px;
  }
  .container .site .post h3 {
    font-size: 22px;
  }
  .container .site .post footer .inlineListTags {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    list-style: none;
    display: inline-block;
  }
  .container .site .post footer .inlineListTags li {
    padding-left: 1em;
  }
  .container .site .post footer .inlineListTags li,
  .container .site .post footer .inlineListTags a {
    float: left;
    height: 24px;
    line-height: 1.5em;
    position: relative;
    font-size: 16px;
  }
  .container .site .post footer .inlineListTags a {
    /**
   * http://cssglobe.com/pure-css3-post-tags/
   */
  
    -moz-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    margin-left: 8px;
    padding: 0 10px 0 12px;
    background: #0089e0;
    color: #ffffff;
    text-decoration: none;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .container .site .post footer .inlineListTags a:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #0089e0 transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
  }
  .container .site .post footer .inlineListTags a:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    float: left;
    width: 4px;
    height: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #ffffff;
    -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
  }
  .container .site .post footer .inlineListTags a:hover {
    background: #808080;
  }
  .container .site .post footer .inlineListTags a:hover:before {
    border-color: transparent #808080 transparent transparent;
  }
  .container .site .post footer .inlineListCategories {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    list-style: none;
    display: inline-block;
  }
  .container .site .post footer .inlineListCategories li {
    padding-left: 1em;
  }
  .container .site .post footer .inlineListCategories li,
  .container .site .post footer .inlineListCategories a {
    float: left;
    height: 24px;
    line-height: 1.5em;
    position: relative;
    font-size: 16px;
  }
  .container .site .post footer .inlineListCategories a {
    /**
   * http://cssglobe.com/pure-css3-post-tags/
   */
  
    -moz-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    margin-left: 8px;
    padding: 0 10px 0 12px;
    background: #e82c0c;
    color: #ffffff;
    text-decoration: none;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .container .site .post footer .inlineListCategories a:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #e82c0c transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
  }
  .container .site .post footer .inlineListCategories a:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    float: left;
    width: 4px;
    height: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #ffffff;
    -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
  }
  .container .site .post footer .inlineListCategories a:hover {
    background: #808080;
  }
  .container .site .post footer .inlineListCategories a:hover:before {
    border-color: transparent #808080 transparent transparent;
  }
  .container .site .footer {
    z-index: 1;
  }
  .container .site .footer .contact {
    padding-left: 2em;
  }
  .container .site .footer ul.social {
    padding-right: 2em;
  }
  .container .site .profile {
    /* H1, H2 and ing used for profile heading */
  
    /* H3-5 used in main profile */
  
  }
  .container .site .profile img {
    margin-top: -79px;
  }
  .container .site .profile h1 {
    font-size: 39px;
    margin-left: 86px;
  }
  .container .site .profile h2 {
    padding-left: 144px;
    font-size: 28px;
  }
  .container .site .profile h3 {
    font-size: 21px;
  }
  .container .site .profile h4 {
    padding-left: 144px;
    font-size: 21px;
  }
  .container .site .profile h5 {
    padding-left: 144px;
    font-size: 13px;
  }
  .container .site .profile h6 {
    /* H6 is used for the date section */
  
    padding-left: 144px;
    font-size: 13px;
  }
  .container .site .profile p {
    padding-left: 144px;
  }
  .container .site .profile p:nth-of-type(1) {
    padding-left: 0px;
  }
  .container .site .profile ul {
    padding-left: 164px;
  }
  .container .site .profile ul li ul {
    /* Need to switch back for nested lists to have less padding */
  
    padding-left: 2em;
  }
}
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 540px), only screen and (max-device-width: 320px) {
  /*Iphone portrait and smaller*/
  .container {
    font-size: 12px;
  }
  .container .site {
    /* text */
  
    font-size: 12px;
    /* Sizing */
  
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .container .site h2 {
    font-size: 17px;
  }
  .container .site .header {
    width: 100%;
  }
  .container .site .header h1.title {
    margin-left: 0px;
    font-size: 24px;
  }
  .container .site .header #nav ul {
    margin-left: 0px;
  }
  .container .site .header .links {
    font-size: 12px;
  }
  .container .site .header .links ul li {
    padding-right: 12px;
  }
  .container .site .content .archivesHeader h2 {
    font-size: 17px;
  }
  .container .site .content .archives .year {
    font-size: 12px;
  }
  .container .site .content .archives .meta {
    font-size: 12px;
  }
  .container .site .content .archives .title {
    font-size: 12px;
  }
  .container .site .content .archives ul {
    margin-left: 24px;
  }
  .container .site .post header h2 {
    font-size: 17px;
  }
  .container .site .post header .meta {
    font-size: 12px;
  }
  .container .site .post h3 {
    font-size: 14.5px;
  }
  .container .site .post footer .inlineListTags {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    list-style: none;
    display: inline-block;
  }
  .container .site .post footer .inlineListTags li {
    padding-left: 1em;
  }
  .container .site .post footer .inlineListTags li,
  .container .site .post footer .inlineListTags a {
    float: left;
    height: 18px;
    line-height: 1.5em;
    position: relative;
    font-size: 12px;
  }
  .container .site .post footer .inlineListTags a {
    /**
   * http://cssglobe.com/pure-css3-post-tags/
   */
  
    -moz-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    margin-left: 6px;
    padding: 0 10px 0 12px;
    background: #0089e0;
    color: #ffffff;
    text-decoration: none;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .container .site .post footer .inlineListTags a:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -9px;
    width: 0;
    height: 0;
    border-color: transparent #0089e0 transparent transparent;
    border-style: solid;
    border-width: 9px 9px 9px 0;
  }
  .container .site .post footer .inlineListTags a:after {
    content: "";
    position: absolute;
    top: 7.5px;
    left: 0;
    float: left;
    width: 3px;
    height: 3px;
    -webkit-border-radius: 1.5px;
    -moz-border-radius: 1.5px;
    border-radius: 1.5px;
    background: #ffffff;
    -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
  }
  .container .site .post footer .inlineListTags a:hover {
    background: #808080;
  }
  .container .site .post footer .inlineListTags a:hover:before {
    border-color: transparent #808080 transparent transparent;
  }
  .container .site .post footer .inlineListCategories {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    list-style: none;
    display: inline-block;
  }
  .container .site .post footer .inlineListCategories li {
    padding-left: 1em;
  }
  .container .site .post footer .inlineListCategories li,
  .container .site .post footer .inlineListCategories a {
    float: left;
    height: 18px;
    line-height: 1.5em;
    position: relative;
    font-size: 12px;
  }
  .container .site .post footer .inlineListCategories a {
    /**
   * http://cssglobe.com/pure-css3-post-tags/
   */
  
    -moz-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    margin-left: 6px;
    padding: 0 10px 0 12px;
    background: #e82c0c;
    color: #ffffff;
    text-decoration: none;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .container .site .post footer .inlineListCategories a:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -9px;
    width: 0;
    height: 0;
    border-color: transparent #e82c0c transparent transparent;
    border-style: solid;
    border-width: 9px 9px 9px 0;
  }
  .container .site .post footer .inlineListCategories a:after {
    content: "";
    position: absolute;
    top: 7.5px;
    left: 0;
    float: left;
    width: 3px;
    height: 3px;
    -webkit-border-radius: 1.5px;
    -moz-border-radius: 1.5px;
    border-radius: 1.5px;
    background: #ffffff;
    -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
  }
  .container .site .post footer .inlineListCategories a:hover {
    background: #808080;
  }
  .container .site .post footer .inlineListCategories a:hover:before {
    border-color: transparent #808080 transparent transparent;
  }
  .container .site .footer {
    z-index: 1;
  }
  .container .site .footer .contact {
    padding-left: 0px;
  }
  .container .site .footer ul.social {
    padding-right: 0px;
  }
  .container .site .profile {
    /* H1, H2 and ing used for profile heading */
  
    /* H3-5 used in main profile */
  
  }
  .container .site .profile img {
    margin-top: -70px;
  }
  .container .site .profile h1 {
    font-size: 24px;
    margin-left: 86px;
  }
  .container .site .profile h2 {
    padding-left: 108px;
    font-size: 17px;
  }
  .container .site .profile h3 {
    font-size: 16px;
  }
  .container .site .profile h4 {
    padding-left: 108px;
    font-size: 16px;
  }
  .container .site .profile h5 {
    padding-left: 108px;
    font-size: 10px;
  }
  .container .site .profile h6 {
    /* H6 is used for the date section */
  
    padding-left: 108px;
    font-size: 10px;
  }
  .container .site .profile p {
    padding-left: 108px;
  }
  .container .site .profile p:nth-of-type(1) {
    padding-left: 0px;
  }
  .container .site .profile ul {
    padding-left: 128px;
  }
  .container .site .profile ul li ul {
    /* Need to switch back for nested lists to have less padding */
  
    padding-left: 2em;
  }
}
@media only screen and (max-width: 640px) {
  .container {
    font-size: 12px;
  }
  .container .site {
    /* text */
  
    font-size: 12px;
    /* Sizing */
  
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .container .site h2 {
    font-size: 17px;
  }
  .container .site .header {
    width: 100%;
  }
  .container .site .header h1.title {
    margin-left: 0px;
    font-size: 24px;
  }
  .container .site .header #nav ul {
    margin-left: 0px;
  }
  .container .site .header .links {
    font-size: 12px;
  }
  .container .site .header .links ul li {
    padding-right: 12px;
  }
  .container .site .content .archivesHeader h2 {
    font-size: 17px;
  }
  .container .site .content .archives .year {
    font-size: 12px;
  }
  .container .site .content .archives .meta {
    font-size: 12px;
  }
  .container .site .content .archives .title {
    font-size: 12px;
  }
  .container .site .content .archives ul {
    margin-left: 24px;
  }
  .container .site .post header h2 {
    font-size: 17px;
  }
  .container .site .post header .meta {
    font-size: 12px;
  }
  .container .site .post h3 {
    font-size: 14.5px;
  }
  .container .site .post footer .inlineListTags {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    list-style: none;
    display: inline-block;
  }
  .container .site .post footer .inlineListTags li {
    padding-left: 1em;
  }
  .container .site .post footer .inlineListTags li,
  .container .site .post footer .inlineListTags a {
    float: left;
    height: 18px;
    line-height: 1.5em;
    position: relative;
    font-size: 12px;
  }
  .container .site .post footer .inlineListTags a {
    /**
   * http://cssglobe.com/pure-css3-post-tags/
   */
  
    -moz-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    margin-left: 6px;
    padding: 0 10px 0 12px;
    background: #0089e0;
    color: #ffffff;
    text-decoration: none;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .container .site .post footer .inlineListTags a:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -9px;
    width: 0;
    height: 0;
    border-color: transparent #0089e0 transparent transparent;
    border-style: solid;
    border-width: 9px 9px 9px 0;
  }
  .container .site .post footer .inlineListTags a:after {
    content: "";
    position: absolute;
    top: 7.5px;
    left: 0;
    float: left;
    width: 3px;
    height: 3px;
    -webkit-border-radius: 1.5px;
    -moz-border-radius: 1.5px;
    border-radius: 1.5px;
    background: #ffffff;
    -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
  }
  .container .site .post footer .inlineListTags a:hover {
    background: #808080;
  }
  .container .site .post footer .inlineListTags a:hover:before {
    border-color: transparent #808080 transparent transparent;
  }
  .container .site .post footer .inlineListCategories {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    list-style: none;
    display: inline-block;
  }
  .container .site .post footer .inlineListCategories li {
    padding-left: 1em;
  }
  .container .site .post footer .inlineListCategories li,
  .container .site .post footer .inlineListCategories a {
    float: left;
    height: 18px;
    line-height: 1.5em;
    position: relative;
    font-size: 12px;
  }
  .container .site .post footer .inlineListCategories a {
    /**
   * http://cssglobe.com/pure-css3-post-tags/
   */
  
    -moz-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    margin-left: 6px;
    padding: 0 10px 0 12px;
    background: #e82c0c;
    color: #ffffff;
    text-decoration: none;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .container .site .post footer .inlineListCategories a:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -9px;
    width: 0;
    height: 0;
    border-color: transparent #e82c0c transparent transparent;
    border-style: solid;
    border-width: 9px 9px 9px 0;
  }
  .container .site .post footer .inlineListCategories a:after {
    content: "";
    position: absolute;
    top: 7.5px;
    left: 0;
    float: left;
    width: 3px;
    height: 3px;
    -webkit-border-radius: 1.5px;
    -moz-border-radius: 1.5px;
    border-radius: 1.5px;
    background: #ffffff;
    -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
  }
  .container .site .post footer .inlineListCategories a:hover {
    background: #808080;
  }
  .container .site .post footer .inlineListCategories a:hover:before {
    border-color: transparent #808080 transparent transparent;
  }
  .container .site .footer {
    z-index: 1;
  }
  .container .site .footer .contact {
    padding-left: 0px;
  }
  .container .site .footer ul.social {
    padding-right: 0px;
  }
  .container .site .profile {
    /* H1, H2 and ing used for profile heading */
  
    /* H3-5 used in main profile */
  
  }
  .container .site .profile img {
    margin-top: -70px;
  }
  .container .site .profile h1 {
    font-size: 24px;
    margin-left: 86px;
  }
  .container .site .profile h2 {
    padding-left: 108px;
    font-size: 17px;
  }
  .container .site .profile h3 {
    font-size: 16px;
  }
  .container .site .profile h4 {
    padding-left: 108px;
    font-size: 16px;
  }
  .container .site .profile h5 {
    padding-left: 108px;
    font-size: 10px;
  }
  .container .site .profile h6 {
    /* H6 is used for the date section */
  
    padding-left: 108px;
    font-size: 10px;
  }
  .container .site .profile p {
    padding-left: 108px;
  }
  .container .site .profile p:nth-of-type(1) {
    padding-left: 0px;
  }
  .container .site .profile ul {
    padding-left: 128px;
  }
  .container .site .profile ul li ul {
    /* Need to switch back for nested lists to have less padding */
  
    padding-left: 2em;
  }
}
@media only print {
  @page  {
    margin: 0.5cm;
  }
  body {
    background: none;
    background-color: #FFFFFF;
  }
  .container .site {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .container .site .header {
    display: none;
  }
  .container .site .footer {
    display: none;
  }
  .container .site .content {
    margin-top: 0px;
  }
  .container .site a {
    text-decoration: none;
    color: #475261;
  }
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post pre {
  margin: 1em;
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 1em;
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
}
.post pre code {
  border: none;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.post ul {
  margin-left: 1.35em;
}
.post ol {
  margin-left: 1.35em;
}
.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}
