/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
	margin: 0;
	padding: 0;
}

html, body { height: 100%; }

body {
	background-color: #CCCCCC;
	color: #333333;
	font: 13.34px Helvetica, Arial, sans-serif;
	font-size: small;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%; }

h1 { margin-bottom: 0.5em; }
p { margin: 1em 0; }

a				 { color: #00a; }
a:hover	 { color: #000; }
a:visited { color: #a0a; }

table {
	font-size: inherit;
	font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.home {
	text-align: center;
	color: 666666;
/*background-color: #333333;
-moz-border-radius: 1em 4em 1em 4em;
border-radius: 1em 4em 1em 4em;
padding: 1em 4em 1em 4em;*/
}
ul.posts {
	text-align: left;
	list-style-type: none;
	margin-top: 1em;
	margin-bottom: 2em;
	
}

ul.posts li {
	line-height: 1.75em;
}

ul.posts span {
	color: #aaa;
	font-family: Monaco, "Courier New", monospace;
	font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
	/*	background*/
	background-color: #FFFFFF;
	-moz-border-radius: 1em 4em 1em 4em;
	border-radius: 1em 4em 1em 4em;
	padding: 1em 4em 1em 4em;
	
	/* text */
	font-size: 12pt;
	line-height: 1.5em;
	text-align: left;
	
	/* Sizing */
	width: 60%;
	margin: 2em auto 2em;
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 40px;
}

.site .header {
	text-align: center;
	height: 4em;
	padding-top: 1em;

	border-bottom: 4px solid #eee;
	
/*	background-color: #5D83C4;
	/* IE10 Consumer Preview *!/ 
	background-image: -ms-linear-gradient(left, #FFFFFF 0%, #5D83C4 100%);
	
	/* Mozilla Firefox *!/ 
	background-image: -moz-linear-gradient(left, #FFFFFF 0%, #5D83C4 100%);
	
	/* Opera *!/ 
	background-image: -o-linear-gradient(left, #FFFFFF 0%, #5D83C4 100%);
	
	/* Webkit (Safari/Chrome 10) *!/ 
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FFFFFF), color-stop(1, #5D83C4));
	
	/* Webkit (Chrome 11+) *!/ 
	background-image: -webkit-linear-gradient(left, #FFFFFF 0%, #5D83C4 100%);
	
	/* W3C Markup, IE10 Release Preview *!/ 
	background-image: linear-gradient(to right, #FFFFFF 0%, #5D83C4 100%);*/
}

.site .header a {
	font-weight: bold;
	text-decoration: none;
}

.site .header h1.title {
	color: #666666;
/*	display: block;*/
/*	display: inline-block;*/
/*	font-family: lobster-two, cursive;*/
	font-size: 200%;
}

.site .header .links {
	text-align: left;
	float: left;
	display: block;
}

.site .header .links a {
	color: #aaa;
	margin-right: 1em;
}

.site .header .links a:hover {
	color: #000;
}

.site .meta {
	color: #aaa;
}

.site .footer {
	font-size: 80%;
	color: #666666;
	border-top: 4px solid #eee;
	margin-top: 2em;
	overflow: hidden;
}

.site .footer img {
	height: 16px;
	width: 16px;
	
}

.site .footer .contact {
	float: left;
	margin-right: 3em;
}

.site .footer .contact a {
	color: #8085C1;
}

.site .footer .social{
	float: right;
}

.site .footer .social a {
	color: #8085C1;
}

.site .footer .rss {
	margin-top: 1.1em;
	margin-right: -.2em;
	float: right;
}

.site .footer .rss img {
	border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
	border: 1px solid #ddd;
	background-color: #eef;
	padding: 0 .4em;
}

.post ul, .post ol {
	margin-left: 1.35em;
}

.post code {
	border: 1px solid #ddd;
	background-color: #eef;
	padding: 0 .2em;
}

.post pre code {
	border: none;
}

/* terminal */
.post pre.terminal {
	border: 1px solid #000;
	background-color: #333;
	color: #FFF;
}

.post pre.terminal code {
	background-color: #333;
}
