
*.espressostorage
Gemfile.lock
test/dest
*.gem
pkg/
node_modules/
assets/temp/
*.swp
*~
_site/
.bundle/
.DS_Store
bbin/
gh-pages/
site/_site/
coverage
.ruby-version
.redcar/
_drafts
/nbproject/private/
nbproject/project.xml

nbproject/project.properties

*.sublime-project

*.sublime-workspace

_data/dev.yaml

.vagrant/

.settings/tasks.json

.vscode/tasks.json
