---
layout: main
title: Blog
group: navigation
groupOrder: 1
---
{% for post in paginator.posts %}
	{% include post_preview.html %}
{% endfor %}

<nav class="pagination">    
    <hr/>
    <ul>
        <li class="older">
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}">← Older</a>
    {% endif %}
        </li>
        <li class="archives">
            <a href="/archives">Archives</a>
        </li>
        <li class="newer">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}<a href="/">Newer →</a>
      {% else %}<a href="{{ paginator.previous_page_path }}">Newer →</a>
      {% endif %}
    {% else %}Newer →
    {% endif %}
        </li>
    </ul>
</nav>
