---
layout: main
title: Blog
group: navigation
groupOrder: 1
---
{% for post in paginator.posts %}
{% include post_preview.html %}
{% if forloop.last == false %}
<hr class="post-divider" />
{% endif %}
{% endfor %}

<nav class="pagination">
    <ul>
        <li id="pagination-newer">
            {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}<a href="/">← Newer</a>
            {% else %}<a href="{{ paginator.previous_page_path }}">← Newer</a>
            {% endif %}
            {% endif %}
        </li>
        <li id="pagination-archives">
            <a href="/archives">Archives</a>
        </li>

        <li id="pagination-older">
            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}">Older →</a>
            {% endif %}
        </li>
    </ul>
</nav>