---
layout: main
title: Dev With Imagination
---

<div id="home" class="home">
<!--  <h1>Blog Posts</h1>-->
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; 
      {% if post.content contains '<!--more-->' %}
	      <a href="{{ post.url }}">{{ post.title }}</a>
      	  {{ post.content | split:'<!--more-->' | first }}
      	{% else %}
	      <span class="meta">{{ post.title }}</span>
      	  {{ post.content }}
      	{% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
