@import (reference) "commonStyle.less";

/* Author styling */
.author {
    
    a.profile-image {
	    float:left;
    	width: 80px;
    	
        .iPhoneMQ({
            width: 40px;
        });
    }
}

.footer .author header {
    margin-right: 0.5em;
}

.footer .author {
    text-align: center;
}

.author-name {
    margin-top: 0.25em;
    margin-bottom: 0;
}

img.profile-image {
	width:80px;
	height:auto;
  	border-radius: 50px;
  	
  	.iPhoneMQ({
  	    border-radius: 25px;
  	});
}


.author-links {
    width: 100%;
    text-align: center;

    ul ,li {
        display: inline-block;
    }

    li + li {
        margin-left: 4em;
    }

}