/* Common style information between print and screen */

/* Less Elements */
@import (reference) "dmitryf-elements/elements.less";

/* Media query values */
@mq-iPhone: ~"only screen and (max-device-width: 640px), only screen and (max-device-width: 568px), only screen and (max-device-width: 540px), only screen and (max-device-width: 320px)";
@mq-iPhoneSized: ~"only screen and (max-width: 640px), only screen and (max-width: 568px), only screen and (max-width: 540px), only screen and (max-width: 320px)";
@mq-iPadPortrait: ~"(max-device-width: 1024px)";
@mq-iPadPortraitSized: ~"(max-width: 1024px)";

/*
 * Variables 
 */
@mainHeaderColour: #475261;
@mainFontColour: #333333;
@outerBackgroundColour: #666666;
@shadowColour: #333333;
@backgroundColour: #FFFFFF;

@mainHeaderLeftGradient: #5D83C4;

@headerHeight: 6em;

@lineHeightEM: 1.5em;
/* Need to use the below when multiplying */
@lineHeight: 1.5;

@linkColour: @mainFontColour;
@linkHoverColour: #8A230F;


@headerFonts: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@headerFontWeight: 700;
@contentFonts: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@contentFontWeight: 300;

@categoryTagColour: #E82C0C;
@tagColour: #0089e0;

@fontSizeStandard: 18px;
@fontSizeSmaller: 16px;
@fontSizeSmallest: 12px;

/* Common Mixins */
.reset() {
    * {
    	margin: 0;
    	padding: 0;
    }
}

.ribbon(@backgroundColour: #5D83C4) {
	position: relative;
	padding: 6px 20px 6px 70px;
	margin: 30px 10px 10px -70px;
	background-color: @backgroundColour;
	text-shadow: 0px 1px 2px lighten(@mainFontColour, 30%);
	.box-shadow(0px 2px 4px #888);
	
	&:after {
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
		left: 0px;
		top: 100%;
		border-width: 5px 10px;
		border-style: solid;
		border-color: darken(@backgroundColour, 20%) darken(@backgroundColour, 20%) transparent transparent;

	}

	&:before {
		content: ' ';
		position: absolute;
		width: 30px;
		height: 0;
		left: -30px;
		top: 12px;
		border-width: 20px 10px;
		border-style: solid;
		border-color: @backgroundColour @backgroundColour @backgroundColour transparent;
	}
}

.fonts() {
    /* Font Definitions */
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700);
}

.liImage(@image, @size: 16px) {
    list-style: none;
    background-image: @image;
    background-size: @size; 
    background-repeat: no-repeat;
    background-position: 0px (@size / 4); 
    padding-left: (@size + (@size / 4)); 
}

.sitePadding() {
	padding: 1em 2em 1em 2em;
	
	@media @mq-iPhone, @mq-iPhoneSized {
	    padding: 0;
	}
}

.siteLeftPadding() {
	padding-left: 2em;
    @media @mq-iPhone, @mq-iPhoneSized {
	    padding-left: 0;
	}
}

.siteRightPadding() {
	padding-right: 2em;
    @media @mq-iPhone, @mq-iPhoneSized {
	    padding-right: 0;
	}
}

.siteLeftMargin() {
	margin-left: 2em;
    
    @media @mq-iPhone, @mq-iPhoneSized {
	    margin-left: 0px;
	}
}

.siteRightMargin() {
	margin-right: 2em;
	
	@media @mq-iPhone, @mq-iPhoneSized {
	    margin-right: 0px;
	}
}    

.clear {
    clear: both;
}