/* CSS Normalisation */
@import url(normalize.css);

/* Less Elements */
@import (reference) "commonStyle.less";
@import "social.less";
@import "author.less";
@import "archives.less";
@import "profile.less";
@import "tags.less";
@import "404.less";

.fonts();

/* Functions */

.leftRightGradient(@leftColour: @mainHeaderLeftGradient; @rightColour: @backgroundColour) {
	
	/* Background */
	background-color: @rightColour;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(left, @leftColour 0%, @rightColour 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(left, @leftColour 0%, @rightColour 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(left, @leftColour 0%, @rightColour 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, @leftColour), color-stop(1, @rightColour));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(left, @leftColour 0%, @rightColour 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to right, @leftColour 0%, @rightColour 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@leftColour, endColorstr=@rightColour,GradientType=1 );
	
}


/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
.reset();

html, body { height: 100%; }

body {
	color: @mainFontColour;
	font-family: @contentFonts;
	font-weight: @contentFontWeight;

    font-size: @fontSizeStandard;
    @media @mq-iPadPortrait, @mq-iPadSized {
        font-size: @fontSizeSmaller;
    }
    @media @mq-iPhone, @mq-iPhoneSized {
        font-size: @fontSizeSmallest;
    }

	text-align: center;
	
	/* Carbon fibre 
	 * by Atle Mo (design), Lea Verou (code)
	 * from http://lea.verou.me/css3patterns/#carbon-fibre */
	background:
		radial-gradient(black 15%, transparent 16%) 0 0,
		radial-gradient(black 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
	
}

h1, h2, h3, h4, h5, h6 {
    font-weight: @headerFontWeight;
}

h1 {
    .font-size(2.4, 2.4, 1.6);
    line-height: 1em;
}

h2 {
    .font-size(1.75, 1.75, 1.4);
    line-height: 1em;
}

h3 {
    .font-size(1.3);
}

h4, h5, h6 {
    font-size: 100%; 
}

p { 
    margin: 1em 0; 
}

a { 
    color: @linkColour;
	transition-duration: .5s;
	text-decoration: underline;

	
	&:hover {
	    color: @linkHoverColour;
	}
}

table {
	font-size: inherit;
}

.headerMargins(@size) {
    margin-left: @size;
    
    @media @mq-iPhone, @mq-iPhoneSized {
        margin-left: 0px;
    }
}

.siteMargin() {
    margin-right: auto;
    margin-left: auto;

    @media @mq-iPhone, @mq-iPhoneSized {
        margin-right: 0;
        margin-left: 0;
    }
}

.drop-cap { 
    float: left; 
    color: @mainHeaderLeftGradient; 
    .font-size(4.2);
    .line-height(3.3);  
    .padding-right(0.5);
    font-family: Georgia; 
}

.footnotes {
    .font-size(0.8);
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.container{

    .site {
    	/*	background*/
    	background-color: @backgroundColour;
    	
    	/* text */
    	// font-size: @contentFontSize;
    	line-height: @lineHeightEM;
    	text-align: left;
    	text-rendering: optimizelegibility;
    	font-weight: @contentFontWeight;
    	
    	/* Sizing */
    	width: @widthStandard;
        @media @mq-iPad, @mq-iPadSized {
            width: @widthSmaller;
        }
        @media @mq-iPhone, @mq-iPhoneSized {
            width: @widthSmallest;
        }

    	padding-bottom: 0;
   		.siteMargin();
        
        h2 {
    		font-family: @headerFonts;
    	
    		text-align: left;    
        }
    
        hr {
        	border: 0;
        	height: 0;
        	border-top: 1px solid rgba(0, 0, 0, 0.1);
        	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        	margin-top: 1em;
            margin-bottom: 1em; 
        }
    
    	.header {
            .leftRightGradient;

    		font-family: @headerFonts;
    		text-align: center;
            
            position: inherit;
            height: auto;

            top: 0;
            z-index: 100000;
    	
    		border-bottom: 4px solid #eee;
    		
    		h1.title {
                margin-bottom: 0.25em;
    			color: @mainHeaderColour;

                margin-top: 0;
    		}
    		
    		#nav {
                ul {
                    margin: 0;
                }
    		    li {
    		        display: inline;

                    .rss {
                        left: 0;
                    }
    		    }
    		}
    		
    		.links {
    		    width: 100%;
    		    font-weight: @contentFontWeight;
                .font-size(1.2);
    		
                display: inline-block;
                text-align: center;
    
    			ul {
    				list-style-type: none;
    				
    				li {
    					display: inline;
    					padding-right: 1em;
    					
    					a {
    						text-decoration: none;
    					}
    					
    					a:hover {
    						text-decoration: underline;
    					}
    				}
    			}
    		}
    	}
    	
    	.content {
            margin-top: 0;
            .sitePadding();

            @media @mq-iPhone, @mq-iPhoneSized {
                padding-top: 0;
            }

            h2 {
                .meta {
                    .font-size(1);
                }
            }

            .archives {
                ul {
                    margin-left: 2em;
                }
            }

    		
    		.pagination {
    		    text-align: center;
    		    
    		    ul {
    		        list-style:none; 
        		    
    	    	    
    	    	    li{
                        display: inline-block;
                        margin-right: 1em;
    	    	    }
    	    	    
    	    	    .older {
        		    }    		    
        		    .archives {
        		    }
        		    .newer {
        		    }
    	    	    
    	    	    
    		    }    		    
    		}
    	}
    	
    	.post {
    		
    		text-align: left;		
    		
    		header {
    			
    			.ribbon();
    
    			h2 {
    				font-family: @headerFonts;
    				font-weight: @contentFontWeight;
    				text-align: left;
    			}
    		
    			.meta { 
    				font-family: @headerFonts;
    				font-weight: @contentFontWeight;

    				text-align: right;
    				border-color: @linkColour;
    				border-left: 1px;
    				float: right;
                    height: 100%;
                    display: block;
                    
    			}
    			
    			
    		}
    		
    				
    		h3 {
    			font-family: @contentFonts;
    			text-decoration: underline;
    		}
    		
    		img {
    		    max-width: 100%;
    		    display: block;
    		    margin-left: auto;
    		    margin-right: auto;
    		}
    		
    		blockquote {
    			background-color: darken(@backgroundColour, 10%);
    		}
    		
    		ul {
    			list-style-type: circle;
    			li {
    				padding-left: 2em;
    			}
    		}
    		
    		.continue {
    		
    		}
    		
    		footer {
        		
    			.inlineListTags {
    				.tagLinkHorizontalList(@tagColour, #FFFFFF);
    			}
    			
    			.inlineListCategories {
    				.tagLinkHorizontalList(@categoryTagColour, #FFFFFF);
    			}
        		
        		
        		.page-navigation {
                    width: 100%;

        		    padding-bottom: 2px;
        		    margin-bottom: 2px;
        		    .prev {
                        max-width: 50%;
                        display: inline-block;
        		    }
        		    
        		    .next {
                        max-width: 50%;
                        display: inline-block;

        		        float: right;
        		        white-space: nowrap;
        		    }
        		
        		}
    		}
    		
    	
    	}
    	
    	.footer {
    	    	        
   	        font-size: 0.8em;
    	
    		border-top: 4px solid #eee;
    		overflow: hidden;
    		width: 100%;
    		padding-top: 1em;
    		z-index: 1;
    		
    		.copy {
    			width: 100%;
    			text-align: center;
    		}
    	}
    }
}

@media
    only print {
    
        @page {
            margin: 0.5cm;
        }
        
        body {
            background: none;
            background-color: #FFFFFF;
        }
    
        .container {
            .site {
                
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            
                .header {
                    display: none;
                }
                .footer {
                    display: none;
                }
                
                .content {
                    margin-top: 0;
                }
                
                a {
                    text-decoration: none;
                    color: @mainHeaderColour;
                }
            }
        }
        
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {

	pre {
	    margin: 1em;
		border: 1px solid #ddd;
		background-color: #eef;
		padding: 1em;
		box-shadow: 5px 5px 7px rgba(33,33,33,.7);
		
		code {
			border: none;
			
            word-wrap: break-word;  
			
			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			hyphens: auto;
		}
		
	}
	
	ul {
		margin-left: 1.35em;
	}
	
	ol {
		margin-left: 1.35em;
	}
	
	code {
		border: 1px solid #ddd;
		background-color: #eef;
		padding: 0 .2em;
	}
}

.post-footer {
    position: relative;
}

.post-org {
    display: inline-block;
}
