/* Styles for a post */
@import (reference) "commonStyle.less";

.post {

    text-align: left;		

    header {

        h2 {
            font-family: @headerFonts;
            font-weight: @contentFontWeight;
            text-align: left;
            margin-top: 0;
        }

        .meta { 
            font-family: @headerFonts;
            font-weight: @contentFontWeight;
        }


    }

    .groupingList {
        &:extend(.groupingList all);
        margin: 0;
    }

    h3 {
        font-family: @contentFonts;
        text-decoration: underline;
    }

    img {
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    blockquote {
        background-color: darken(@backgroundColour, 10%);
    }
    
    article ul {
        list-style-type: circle;
        li {
            padding-left: 2em;
        }
    }

}

.post {

    article, footer {
        .sitePadding();
    }

    pre {
        border: 1px solid #ddd;
        background-color: #eef;
        padding: 1em;

        .mobileSize(margin-left, -2em, -2em, -1em);
        .mobileSize(margin-right, -2em, -2em, -1em);
        
        code {
            font-size: 0.8em;
            border: none;
            
            word-wrap: break-word;  
            
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            hyphens: auto;
        }
        
    }
    
    ul {
        margin-left: 1.35em;
    }
    
    ol {
        margin-left: 1.35em;
    }
    
    code {
        border: 1px solid #ddd;
        background-color: #eef;
    }
}

.post-footer {
    position: relative;
}

.post-org {
    display: inline-block;
}