@import (reference) "commonStyle.less";
/*****************************************************************************/
/*
/* Profile
/*
/*****************************************************************************/

.profile {

	 /* H2-4 used in main profile */
	h2 {
		float: left;
		display: inline-block;
        font-weight: @headerFontWeight;
	}
	
	h3, h4, h5 {
        color: @mainHeaderColour;
        font-weight: @contentFontWeight;
	}
	
	h4 {
        display: inline-block;
	}

	h5 {
		/* H5 is used for the date section */
		text-transform: uppercase;
	}
	
	hr:nth-of-type(1) {
	    margin-top: -1em;
	}
}

.profileLeftPadding(@width; @extra: 0px) when (@width < 95%) {
    padding-left: @contentSpacing + @extra;
}

.profileLeftPadding(@width; @extra: 0px) when (@width >= 95%) {
    padding-left: 0px + @extra;    
}

.h2Width(@width) when (@width < 95%) {
    width: auto;
}

.h2Width(@width) when (@width >= 95%) {
    width: 100%;
}


.sizedProfile(@baseFontSize; @width; @mainHeaderRatio; @smallHeaderRatio; @smallerFontRatio; @smallestFontRatio; @mainHeaderFontSize; @smallHeaderFontSize; @contentFontSize) {
    
   	@contentSpacing: (10 * @baseFontSize);
    
    .profile-author {
        margin-left: -2em;
    }
    
    .profile-author-bio {
        margin-left: @contentSpacing - 100px;
    }
    
    .profile {
    	
    	@smallerHeaderFontSize: ceil(@smallerFontRatio * @baseFontSize);
    	@smallestHeaderFontSize: ceil(@smallestFontRatio * @baseFontSize);
    
    	 /* H2-4 used in main profile */
    	h2 {
            .h2Width(@width);
        }
    	
    	h3, h4, h5, p {
           	.profileLeftPadding(@width);
    	}
    	
    	h2, h3 {
    		font-size: @smallerHeaderFontSize;
    	}
    
    	h4, h5 {
    		/* H5 is used for the date section */
    		font-size: @smallestHeaderFontSize;
    	}
    	
    
    	ul {
        	.profileLeftPadding(@width; 20px);
    		
    		li {
    			ul {
    				/* Need to switch back for nested lists to have less padding */
    				padding-left: 2em;
    			}
    		}
    	}
    }
}