@import (reference) "commonStyle.less";
/*****************************************************************************/
/*
/* Profile
/*
/*****************************************************************************/
@profileFontColour: @mainFontColour;
@profileBackgroundColour: @backgroundColour;

.profile-container {
    background-color: @profileBackgroundColour;
    color: @profileFontColour;
}

.profile-section-header {
    overflow: hidden;
    // max-width: 425px;
    
    padding-top: @verticalSpacing;
    padding-left: @horizontalSpacing;
    padding-right: @horizontalSpacing;
    margin-bottom: @verticalSpacing;
}

.profile-section-name {
    display: inline-block;

    float: left;

    .remSize(min-width, 16);
}

.profile-section-details {
    display: inline-block;
    vertical-align: top;
    // margin-left: @horizontalSpacing;
    float: right;
}

.profile-section-name, .profile-section-details {
    @media @mq-iPhone, @mq-iPhoneSized {
        float: none;
        display: block;
        text-align: center;
    }
}

.profile-section-content {
    ul:last-child {
        margin-bottom: @verticalSpacing;
    }
}

.profile-section-title {
    display: block;
    height: 60px;
    position: relative;
    line-height: 59px;
    text-align: center;
    width: 135px;

    .iPhoneMQ({
        width: auto;
        height: auto;
    });

    color: @profileBackgroundColour;

    span {
        z-index: 1;
    }

    @iconFontSize: @horizontalSpacing;
    i {
        position: absolute;
        top: 0;
        left: -(@iconFontSize * 0.95);

        .iPhoneMQ({
            position: inherit;
            display: block;
            text-align: center;
            width: 100%;
            left: 0;
            padding: 0;
        });

        width: 1.5em;
        background-color: inherit;
        text-align: left;
        height: 100%;
        vertical-align: middle;
        z-index: 0;
        padding-left: 0.5em;
    }

    .fa-lg {
        font-size: @iconFontSize;
        line-height: (0.75 * @iconFontSize);

        .iPhoneMQ({
            line-height: 0.75em;
            padding-top: 0.5em;
        });

    }
}

.profile-field {
    display: none;
}

.profile-information {

    @labelColour: #7E9CD0;

    .profile-section-title {
        background: @labelColour;
    }

    .profile-icon {
        color: @labelColour;
    }

    .profile-section-name {
        @media @mq-iPad, @mq-iPadSized {
            float: none;
            display: block;
            text-align: center;
        }
    }

    .profile-name {
        .remSize(font-size, 2.6);
        line-height: 1em;
        .remSize(width, 28, 28, auto);

        &:first-letter { 
            margin-left: -0.07em; 
        }
    }

    .profile-section-details {
        .remSize(font-size, 0.8);
        .remSize(line-height, 1);
        float: right;

        @media @mq-iPhone, @mq-iPhoneSized {
            float: none;
        }
    }

    .profile-image {
        float: left;
        border-radius: 0;
        .remSize(margin-right, 1, 1, 0);

        @media @mq-iPhone, @mq-iPhoneSized {
            float: none;
            border-radius: 25px;
        }
    }
}

.profile-employment {
    .profile-section-title {
        background: #BE43E8;
    }
}

.profile-education {
    .profile-section-title {
        background: #FF5E3D;
    }
}

.profile-skills {
    .profile-section-title {
        background: #E8B943;
    }

}

.profile-author {
    text-align: center;
    padding: 1em !important;
}

.profile-section-content {
    margin: 0 @horizontalSpacing;

    li {
        margin-left: @horizontalSpacing
    }
}

@media only print {

    .profile-section-title {
        width: auto;
        height: auto;
        line-height: inherit;

        /* http://css-tricks.com/line-on-sides-headers/ */
        // line-height: 0.5;
        text-align: center;

        span {
            display: inline-block;
            position: relative;  

            &:before, &:after {
                content: "";
                position: absolute;
                height: 5px;
                border-top: 1px solid black;
                top: 0.65em;
                width: 600px;
            }
            &:before {
                right: 100%;
                margin-right: 15px;
            }
            &:after {
                left: 100%;
                margin-left: 15px;
            }
        }
    }

    .fa-circle {
        display: none;
    }
    .fa-stack-2x {
        font-size: 1em;
    }
    .fa-inverse {
        color: #333;
    }

    .profile-information, .profile-education, .profile-employment {
        .profile-section-title {
            background-color: #FFFFFF;
            color: inherit;
        }
    }

    .profile-information {
        .profile-section-title {
            display: none;
        }

        @printNameFontSize: 4;

        .profile-name {
             width: auto;

            font-size: (@printNameFontSize)em;
            line-height: (@printNameFontSize)em;
        }

        .profile-position {
            font-size: (@printNameFontSize/2)em;
            line-height: round(2*(@printNameFontSize/3))em;

            .iPhoneMQ({
                padding-top: 0.5em;
                padding-bottom: 0.5em;
            });
        }

        .profile-section-header {
            // text-align: center;
            padding-top: 0;
            .remSize(margin-bottom, @printNameFontSize, @printNameFontSize, @printNameFontSize/2);
        }

        .profile-section-name {
            // display: block;
            // float: none;
        }

        .profile-section-details {
            border-left: 2px solid @mainFontColour;
            line-height: 1.5em;
            margin-top: 0.5em;
            // display: block;
            // float: none;
            font-size: inherit;
        }

        .profile-phone, .profile-email, .profile-www {
            margin-right: 1em;
            // display: inline-block;
        }

        .profile-field {
            width: 4em;
            font-weight: bold;
            display: inline-block;
    
            text-align: right;
            // .remSize(padding-right, 0.25);
            padding-right: 0.25em;
        }

        .profile-icon {
            display: none;
        }

        .profile-image {
            display: none;
            margin: 0;
        }

    }
}
