@import (reference) "commonStyle.less";
/*
 * Some elements based on the Kasper theme:  
 */
 
 /* General styling */
 .share {
 
    float: right;
    width: 140px;
    right: 0;
    
    .iPhoneMQ({
        float: none;
        display: block;
        right: auto;
        width: auto;
        position: inherit;
    });
    
     
     a {
         text-decoration: none;
         position: relative;
         margin-left: 2em;
         padding-right: 10px;
         
         .iPhoneMQ({
             padding-top: 1px;
         });
     
         &:hover {
             text-decoration: none;     
         }
     }
     
     h4 {
         .iPhoneMQ({
            display: block;
         });
     }
 } 