@import (reference) "commonStyle.less";
/*
 * Some elements based on the Kasper theme:  
 */
 
 /* General styling */
 .share {
 
    float: right;
    width: 140px;
    right: 0px;
    
    @media @mq-iPhone, @mq-iPhoneSized {
        display: block;
        right: auto;
        width: auto;
        position: inherit;
    }
    
     
     a {
         text-decoration: none;
         position: relative;
         margin-left: 2em;
         padding-right: 10px;
         
         @media @mq-iPhone, @mq-iPhoneSized {
             padding-top: 1px;
         }
     
         &:hover {
             text-decoration: none;     
         }
     }
     
     h4 {
         @media @mq-iPhone, @mq-iPhoneSized {
            display: inline-block;
         }
     }
 }
 
 /* ==========================================================================
    3. Utilities - These things get used a lot
    ========================================================================== */
 
 /* Hides shit */
 .hidden {
     text-indent: -9999px;
     visibility: hidden;
     display: none;
 }
 
 /* Creates a responsive wrapper that makes our content scale nicely */
 .inner {
     position: relative;
     width: 80%;
     max-width: 700px;
     margin: 0 auto;
 }
 
 /* Centres vertically yo. (IE8+) */
 .vertical {
     display: table-cell;
     vertical-align: middle;
 }
  