@import (reference) "commonStyle.less";
/*
 * Some elements based on the Kasper theme:  
 */
 
 /* General styling */
 .share {
 
    float: right;
    width: 140px;
    right: 0;
    
    @media @mq-iPhone, @mq-iPhoneSized {
        float: none;
        display: block;
        right: auto;
        width: auto;
        position: inherit;
    }
    
     
     a {
         text-decoration: none;
         position: relative;
         margin-left: 2em;
         padding-right: 10px;
         
         @media @mq-iPhone, @mq-iPhoneSized {
             padding-top: 1px;
         }
     
         &:hover {
             text-decoration: none;     
         }
     }
     
     h4 {
         @media @mq-iPhone, @mq-iPhoneSized {
            display: block;
         }
     }
 } 