/* Less Elements */
@import (reference) "commonStyle.less";

.tagLinkHorizontalList(@backgroundColour: #0089e0, @foregroundColour: #FFFFFF) {

	margin: 0;
	
	padding-left: 0;
	padding-right: 0;
	list-style: none;
	
	li {
//	    float: left;
        display: inline-block;
	    padding-left: 0;


	    // .tag-box(@backgroundColour; @foregroundColour);
	}
//	
//	li, a {
//		float: left;
//		height: (@height * @lineHeight);
//		line-height: @lineHeightEM;
//		position: relative;
//		font-size: @height;
//	}
//	
//	a {
//		.tagLinks(@backgroundColour, @foregroundColour, @height);
//	}
}

.tag-box {
  
  @foregroundColour: #FFFFFF;

  border-radius: 4px;
  
  a {
    text-decoration: none;
    transition-duration: 0s;
    	
    padding: 3px 3px;
    margin: 2px;
	
	  font-size: 0.8em;

	  color: @foregroundColour;
    &:hover {
    	background: darken(@foregroundColour, 50%);
    }
  }

  &:hover {
    background: darken(@foregroundColour, 50%);
  }
    
  span {
      vertical-align: super;
      .remSize(font-size, 0.625);
  }
}

.groupingList {
  margin: 0;
  
  padding-left: 0;
  padding-right: 0;
  list-style: none;
  
  li {
      display: inline-block;
      padding-left: 0 !important;

      &.tag {
        &:extend(.tag-box all);
        background-color: @tagColour;
      }

      &.category {
        &:extend(.tag-box all);
        background-color: @categoryTagColour;
      }
  }
}

.groupedPosts {

    .clear();

    margin-top: 1em;
    list-style: none;

    li {
        margin-bottom: 2px;
        overflow: hidden;
        
        h3:before { 
            /* Padding fix for anchor links: http://css-tricks.com/hash-tag-links-padding/ */
            display: block; 
            content: " "; 
            margin-top: -@headerHeight; 
            height: @headerHeight; 
            visibility: hidden; 
        }
    }
    
    .meta {
        float: left;
        font-family: @headerFonts;
    	font-weight: @contentFontWeight;
    	width: 10em;
    	border-color: @linkColour;
    	border-right: 1px;
        vertical-align: middle;
    }
    
    .title {
        font-family: @headerFonts;
        font-weight: @contentFontWeight;
        overflow: hidden;
        padding-left: 4px;
    }
    
    ul {
        display: inline-block;
        list-style: none;
    }

}