{% capture paginate_path_part %}{{ site.paginate_path | remove_first: ':num' }}{% endcapture %}
{% assign groupedPages = include.pages_list | where:"group", include.group | sort: "groupOrder" %}
{% for node in groupedPages %}
{% capture part %}{{ node.url | remove_first: paginate_path_part }}{% endcapture %}
{% if node.url == part %}
	{% if page.url == node.url %}
	    <li class="active"><a href="{{node.url}}" class="active">
	{% else %}
	    <li><a href="{{node.url}}">
	{% endif %}
	{% if node.menuIconStyle %}
		<i class="fa-li fa {{ node.menuIconStyle }} fa-lg fa-fw"></i>{{ node.title }}
	{% else %}
		{{node.title}}
	{% endif %}
	</a></li>
{% endif %}{% endfor %}