{% comment %}
    Requires that "post" is assigned prior to being called
{% endcomment %}

<article class="post">
		<header class="post-heading">
			<h2 class="post-title">
				<a href="{{ post.url }}" {% if noPreview != true %}class="title"{% endif %}>{{ post.title }}</a>
			</h2>
			<div class="post-meta">
				{% if post.date %}
				<div class="post-date">
					<p class="meta">
						<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished" data-updated="true" title="{{ post.date | date_to_string }}">
							{% assign d = post.date | date: "%-d"  %}
							{% case d %}
								{% when '1' or '21' or '31' %}{{ d }}st
								{% when '2' or '22' %}{{ d }}nd
								{% when '3' or '23' %}{{ d }}rd
								{% else %}{{ d }}th
							{% endcase %} of {{ post.date | date: "%B" }}, {{ post.date | date: "%Y" }}</time>
					</p>
				</div>
				{% endif%}
				{% include post_category_list.html %}
			</div>	
		</header>
		{% if noPreview != true %}
		<section class="post-content">
			{% if post.header_image %} {{ post.header_image | markdownify }}{% endif %}
			{% if post.content contains site.excerpt_separator %}
				{{ post.excerpt }}
				<p><a href="{{ post.url }}" class="continue">&raquo; Continue reading</a></p>
			{% else %}
				{{ post.content }}
			{% endif %}
		</section>
		<footer class="post-footer">
			{% include post_tag_list.html %}
		</footer>
		{% endif %}
		
</article>