{% comment %}
    Requires that "post" is assigned prior to being called
{% endcomment %}

<article class="post">
		<header class="heading">
			<h2>
				<a href="{{ post.url }}" {% if noPreview != true %}class="title"{% endif %}>{{ post.title }}</a>
			</h2>
			{% if post.date || post.author %}<p class="meta">{% endif %}
			{% if post.date %}
					<time datetime="{{ post.date | date_to_xmlschema }}" data-updated="true" title="{{ post.date | date_to_string }}">{% assign d = post.date | date: "%-d"  %}
					{% case d %}
  						{% when '1' or '21' or '31' %}{{ d }}st
  						{% when '2' or '22' %}{{ d }}nd
  						{% when '3' or '23' %}{{ d }}rd
  						{% else %}{{ d }}th
  					{% endcase %} of {{ post.date | date: "%B" }} {% if hideYear == false %}, {{ post.date | date: "%Y" }}{% endif %}
  					<!--{% if hideYear == true %}{{ post.date | date:"%d %b" }}{% else %}{{ post.date | date_to_string }}{% endif %}-->
  					</time>
					{% if post.author %},&nbsp;{% endif %}
			{% endif%}
			{% if post.author %}By {{ site.data.authors[post.author].name }}{% endif %}
			{% if post.date || post.author %}</p>{% endif %}
		</header>
		{% if noPreview != true %}
		<article>
			{% if post.header_image %} {{ post.header_image | markdownify }}{% endif %}
			{% if post.content contains site.excerpt_separator %}
				{{ post.excerpt }}
				<p><a href="{{ post.url }}" class="continue">&raquo; Continue reading</a></p>
			{% else %}
				{{ post.content }}
			{% endif %}
		</article>
		<footer>
			{% include post_category_list.html %}
			{% include post_tag_list.html %}
		</footer>
		{% endif %}
		
</article>