@import 'commonStyle';
/////////////////////////////////
// Archive specific styling    //
/////////////////////////////////

$archiveLinkColour: #CBB393;

.archiveLinks, .archives .groupingList {
    @extend .groupingList;

    /* Reset these two - archive links are not to appear the same way
     * as other grouping lists - as we are using it for a nav element
     * (and there is a lot more of them than normal).
     */
    transform: none;
    top: 0;
}

.archives {
    @include sitePadding();

    .groupedPosts {
        margin-left: 0;

        ul {
            @include mobileSize(margin-left, 2, 2, 0);

            @include respond-to(handhelds){
                width: 100%;
            }
        }
    }

    ul {
        
        list-style: none;
        
        li {
            margin-bottom: 2px;
            overflow: hidden;
            text-align: left;

            @include respond-to(handhelds){ 
                text-align: center;
                ul {
                    text-align: left;
                    margin-left: 0;

                    li {
                        text-align: left;
                    }
                }
            }
        }
        
        h3.year, h3.tag, h3.category {

        	font-weight: $contentFontWeight;
            vertical-align: top;

            @include respond-to(handhelds) {
                display: inline-block;
                line-height: 1.5em;
                position: relative;  

                padding-top: 1em;
                margin-top: -1em;

                &:before, &:after {
                    content: "";
                    position: absolute;
                    height: 5px;
                    border-top: 1px solid black;
                    top: 0.65em;
                    width: 100px;
                }
                &:before {
                    right: 100%;
                    margin-right: 15px;
                }
                &:after {
                    left: 100%;
                    margin-left: 15px;
                }
        
            }
        }
        
        .meta, .meta_year {
            float: left;
        	border-color: $linkColour;
        	border-right: 1px;
            vertical-align: middle;

            @include mobileSize(margin-right, 2, 0, 0);
        }

        .meta {
            @include mobileSize(width, 7, 4, 3);
        }

        .meta_year {
            @include mobileSize(width, 7, 7, 6);
        }
        
        .title {
            overflow: hidden;
            padding-left: 4px;
        }
        
        ul {
            display: inline-block;
            list-style: none;
        }
    }

}