@import 'commonStyle';
/////////////////////////////////
// Archive specific styling    //
/////////////////////////////////

$archiveLinkColour: #CBB393;

.archiveLinks, .archives .groupingList {
    @extend .groupingList;

    /* Reset these two - archive links are not to appear the same way
     * as other grouping lists - as we are using it for a nav element
     * (and there is a lot more of them than normal).
     */
    transform: none;
    top: 0;
}

.archiveLinks .active {
    border-color: $headerFontColour;
    border-width: 1px;
    border-style: solid;
}

.archives {
    @include sitePadding();

    .fa-li, .fa-li.fa-lg {
        margin-left: 0;
    }

    .groupedPosts {
 
        @include clear();
    
        margin-top: 1em;
        list-style: none;
    
        .meta {
            width: 7em;
            border-color: $linkColour;
            border-right: 1px;
            vertical-align: middle;
        }
        
        .title {
            overflow: hidden;
            padding-left: 4px;
        }   
            
        margin-left: 0;

        ul {

            margin: 0;
            @include for-md-up {
                margin-left: 1.5em;
            }
        }
    }

    ul {
        
        list-style: none;
        
        h3.year, h3.tag, h3.category {

        	font-weight: $contentFontWeight;
            vertical-align: top;
            text-align: center;

            @include for-md-up {
                text-align: left;
            }
        }
        
        .post-list-item {
            display: flex;
        }

        .title {
            flex: 1;
        }

        .meta, .meta-year {

        	border-color: $linkColour;
        	border-right: 1px;
            vertical-align: middle;
        }

        .meta-year {
            @include mobileSize(width, 7, 7, 6);
        }
        
        .title {
            overflow: hidden;
            padding-left: 4px;
        }
    }

}