/**
 * File containing all our colour definitions
*/

:root, [data-theme="default"] {
    --color-primary: hsl(240, 4%, 20%);
    --color-secondary: #1282A2;
    --color-tertiary: #42a8c0;
    /* color contrasts */
    --color-bg: white;
    --color-contrast-lower: hsl(0, 0%, 95%);
    --color-contrast-low: hsl(240, 1%, 83%);
    --color-contrast-medium: hsl(240, 1%, 48%);
    --color-contrast-high: hsl(240, 4%, 20%);
    --color-contrast-higher: black;
  }
  
  [data-theme] {
    background-color: var(--color-bg);
    color: var(--color-primary);
  }
  
  [data-theme="dark"] {
    --color-primary: hsl(0, 0%, 89%);
    /* color contrasts */
    --color-bg: rgb(34, 39, 46);
    --color-contrast-lower: hsl(240, 6%, 15%);
    --color-contrast-low: hsl(252, 4%, 25%);
    --color-contrast-medium: hsl(240, 1%, 57%);
    --color-contrast-high: hsl(0, 0%, 89%);
    --color-contrast-higher: white;
  }