//File defines core, site wide styles

@import "commonStyle";

/* Font Definitions */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;600&display=swap');

/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

html, body { 
    height: 100%; 
}

body {
	font-family: $contentFonts;
	font-weight: $contentFontWeight;

    @media (max-width: 1024px) {
        padding: 0 1em;
    }
}

h1 {
    font-size: calc(1.5rem + 3vw);
    line-height: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerFonts;
    font-weight: $headerFontWeight;

    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 2rem;
    line-height: 1em;
    
    @include respond-to(handhelds) {
        font-size: 1.4rem;
    }
}

h3 {
    font-size: 1.3rem;
}

h4, h5, h6 {
    font-size: 100%; 
}

ul, ol {
    margin-left: 2em;
}

p { 
    margin: 1em 0; 
}

a { 
    color: var(--color-contrast-high);
	transition-duration: .5s;
	text-decoration: underline;

	
	&:hover {
	    color: var(--color-secondary);
	}
}

figure {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 1em;
}

figure > pre, pre.highlight {
    overflow-x: auto;

    margin-left: -1em;
    margin-right: -1em;
    padding: 1em;
    border-radius: 1em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.container{

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 2rem;

        @include respond-to(handhelds) {
            flex-direction: column;

            margin: 2rem 0;
        }
        
        ul {
            list-style-type: none;
            
            padding: 0;
            overflow: hidden;

            display: flex;

            @include respond-to(handhelds) {
                margin: 1rem 0;
            }
        }

        
        li {
            margin-left: 1em;
        }
    }

    .post-title {
        margin-bottom: 2rem;
    }

    ul.social {
        display: flex;

        justify-content: center;
        list-style-type: none;

        margin: 1rem 0;

        li {
            margin: 0 0.5rem;
        }

        a {
            text-decoration: none;
        }
    }

    .post-meta {
        display: flex;

        .meta {
            margin: 0;
        }

        .post-date {
            white-space: nowrap;
        }
    }

    .post-grouping {

        margin-left: 1rem;

        ul {
            display: inline;
            list-style: none;
            padding: 0px;
            margin-left: 0;
        }

        li {
            display: inline;
        }

        li::after {
            content: ",";
        }

        li:last-child::after {
            content: "";
        }
    }

    hr.post-divider {
        background: radial-gradient( var(--color-secondary), var(--color-bg));
        border: 0;
        height: 5px;
        
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .post {
        max-width: 80ch;
        
        margin: 1rem auto;

        img {
            max-width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    a.post-link {
        text-decoration: none;
        font-size: 0.5em;
    }

    .post-series {
        padding: 1rem;
        margin-top: 1rem;
        box-shadow: 2px 2px 15px #ccc;
    }

    .site {
    	/*	background*/
        background-color: var(--color-bg);
    	
    	/* text */
    	line-height: $lineHeightEM;
    	text-align: left;
    	text-rendering: optimizelegibility;
    	font-weight: $contentFontWeight;
    	
    	/* Sizing */
        margin: 5vh 2vw;
    	padding-bottom: 0;
        @include respond-to(handhelds) {
            margin: 0;
        };
    
    	
    }
}

.highlight {
    background-color: #f8f8f8;
}

.pagination {
    text-align: center;
    
    ul {
        list-style:none; 
        
        
        li{
            display: inline-block;
            margin-right: 1em;
        }
        
    }    		    
}

.footer {
 
    padding: 2rem 0;
    text-align: center;

    p {
        margin: 0;
    }
}