//File defines core, site wide styles

@import "commonStyle";

/* Font Definitions */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;600&display=swap');

/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

html, body { 
    height: 100%; 
}

body {
	font-family: $contentFonts;
	font-weight: $contentFontWeight;

    @media (max-width: 1024px) {
        padding: 0 1em;
    }
}

h1 {
    font-size: calc(1.5rem + 3vw);
    line-height: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerFonts;
    font-weight: $headerFontWeight;

    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 2rem;
    line-height: 1em;
    
    @include respond-to(handhelds) {
        font-size: 1.4rem;
    }
}

h3 {
    font-size: 1.3rem;
}

h4, h5, h6 {
    font-size: 100%; 
}

ul, ol {
    margin-left: 2em;
}

p { 
    margin: 1em 0; 
}

a { 
    color: var(--color-primary);
	transition-duration: .5s;
	text-decoration: underline;

	
	&:hover {
	    color: var(--color-secondary);
	}
}

figure {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 1em;
}

figure > pre, pre.highlight {
    overflow-x: auto;

    margin-left: -1em;
    margin-right: -1em;
    padding: 1em;
    border-radius: 1em;
}

/* Our Theme Toggle switch styles. 
 * Based on https://www.w3schools.com/howto/howto_css_switch.asp
 */
 .switch {
    /* The switch - the box around the slider */
    position: relative;
    display: inline-block;
    width: 1.75rem;
    height: 1rem;
  
  
    /* Hide default HTML checkbox */
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
  
    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 1rem;
        width: 1rem;
        // background-color: white;
        background-color: var(--color-contrast-high);
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked + .slider {
        background-color: var(--color-secondary);
    }
    
    input:focus + .slider {
        box-shadow: 0 0 1px var(--color-secondary);
    }
    
    input:checked + .slider:before {
        -webkit-transform: translateX(0.75rem);
        -ms-transform: translateX(0.75rem);
        transform: translateX(0.75rem);
    }
    
    /* Rounded sliders */
    .slider.round {
        border-radius: 1rem;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.container {

    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 2rem 2rem 1rem 2rem;
        padding-bottom: 1rem;

        border-width: 0 0 0.25rem 0;
        border-style: solid;
        border-image: linear-gradient(to right, var(--color-bg), var(--color-contrast-low), var(--color-secondary), var(--color-contrast-low), var(--color-bg)) 1;

        @include respond-to(handhelds) {
            flex-direction: column;

            margin: 1rem 0;

            .site-byline {
                text-align: center;
            }
        }
        
        ul {
            list-style-type: none;
            
            padding: 0;
            overflow: hidden;

            display: flex;

            @include respond-to(handhelds) {
                margin: 1rem 0;
            }
        }

        
        li {
            margin-left: 1em;
        }
    }

    .post-title {
        margin-bottom: 2rem;
    }

    ul.social {
        display: flex;

        justify-content: center;
        list-style-type: none;

        margin: 1rem 0;

        li {
            margin: 0 0.5rem;
        }

        a {
            text-decoration: none;
        }
    }

    .post-meta {
        display: flex;

        .meta {
            margin: 0;
        }

        .post-date {
            white-space: nowrap;
        }
    }

    .post-grouping {

        margin-left: 1rem;

        ul {
            display: inline;
            list-style: none;
            padding: 0px;
            margin-left: 0;
        }

        li {
            display: inline;
        }

        li::after {
            content: ",";
        }

        li:last-child::after {
            content: "";
        }
    }

    hr.post-divider {
        background: radial-gradient( var(--color-secondary), var(--color-bg));
        border: 0;
        height: 5px;
        
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .post {
        max-width: 80ch;
        
        margin: 1rem auto;

        img {
            max-width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    a.post-link {
        text-decoration: none;
        font-size: 0.5em;
    }

    .post-series {
        padding: 1rem;
        margin-top: 1rem;
        box-shadow: 2px 2px 15px #ccc;
    }

    .site {
    	/*	background*/
        background-color: var(--color-bg);
    	
    	/* text */
    	line-height: $lineHeightEM;
    	text-align: left;
    	text-rendering: optimizelegibility;
    	font-weight: $contentFontWeight;
    	
    	/* Sizing */
        margin: 5vh 2vw;
    	padding-bottom: 0;
        @include respond-to(handhelds) {
            margin: 0;
        };
    
    	
    }
}

.highlight {
    background-color: #f8f8f8;
}

.pagination {
    text-align: center;
    
    ul {
        list-style:none; 
        
        
        li{
            display: inline-block;
            margin-right: 1em;
        }
        
    }    		    
}

.footer {
 
    padding: 2rem 0;
    text-align: center;

    p {
        margin: 0;
    }
}