//File defines core, site wide styles

@import "commonStyle";

//Include the font definitions
@include fonts();

/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

body {
	color: $mainFontColour;

	font-family: $contentFonts;
	font-weight: $contentFontWeight;

    @include respond-to(print) {
        font-family: $contentPrintFonts;
        font-weight: $contentPrintFontWeight;
    };

    @include mobileSize(font-size, $fontSizeStandard, $fontSizeSmaller, $fontSizeSmallest);

	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $headerFontWeight;
    font-family: $contentFonts;

    @include respond-to(print) {
        font-weight: $headerPrintFontWeight;
        font-family: $contentPrintFonts;
    };
}

h1, h2 {
    text-align: left;    
}

h1 {
    @include mobileSize(font-size, 2.4, 2.4, 1.6);
    line-height: 1em;
    text-align: center;
}

h2 {
    @include mobileSize(font-size, 1.75, 1.75, 1.4);
    line-height: 1em;
    @include remSize(margin-top, 1);
}

h3 {
    @include remSize(font-size, 1.3);
}

h4, h5, h6 {
    font-size: 100%; 
}

p { 
    margin: 1em 0; 
}

a { 
    color: $linkColour;
	transition-duration: .5s;
	text-decoration: underline;

	
	&:hover {
	    color: $linkHoverColour;
	}
}

figure {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 1em;
    
}

pre {
    overflow-x: auto;
}

.fa-ul {
    .fa-li, .fa-li.fa-lg {
        left: 0;
        position: static;
        margin-left: -0.5em;
    }
}

.heading {
    background-color: $headerBackground;

    // border-color: $dividerColour;
    border-color: $contentBackgroundColour;
    border-style: inset;
    border-width: 2px 2px 0 2px;
}

.heading, .footer {
    
    @include sitePadding();

    color: $headerFontColour;

    a {
        color: $headerFontColour;

        &:hover{
            color: $headerLinkHoverColour;
            transition: .5s;
        }
    }

    h2 {
        font-weight: $contentFontWeight;
        text-align: left;

        margin-top: 0;
    }
}

.footer { 
    p {
        margin: 0 0 0 0;
    }
}

    
.author-links {
    width: 100%;
    text-align: center;

    ul ,li {
        display: inline-block;
    }

    li + li {
        margin-left: 4em;
    }

}

.container {

    /*	background*/
    background-color: $backgroundColour;
    
    /* text */
    line-height: $lineHeightEM;
    text-align: left;
    text-rendering: optimizelegibility;
    font-weight: $contentFontWeight;

    @include respond-to(print) {
        font-weight: $contentPrintFontWeight;
    };
    
    /* Sizing */
    width: 100%;

    padding-bottom: 0;
    @include respond-to(handhelds) {
        padding-top: 1em;
    };
    

    hr {
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid fadeout($dividerColour, 40%);
        margin-top: 1em;
        margin-bottom: 1em; 
    }

    .header {

        background-color: $backgroundColour;
        color: $headerFontColour;

        a { 
            color: $headerFontColour;
        }

        font-family: $headerFonts;
        text-align: center;

        position: inherit;
        height: auto;

        top: 0;
        z-index: 100000;

        @include remSize(padding-bottom, 1);

        @include respond-to(print) {
            font-family: $headerPrintFonts;
        };
        
        h1.title {
            margin-bottom: 0.25em;
            color: $mainHeaderColour;

            font-family: $titleFonts;
            font-weight: $titleFontWeight;

            @include respond-to(print) {
                font-family: $titlePrintFonts;
                font-weight: $titlePrintFontWeight;
            };

            font-size: $fontSizeTitle;
            @include respond-to(handhelds) {
                font-size: $fontSizeTitleMobile;
            };

            a:hover {
                color: $dividerColour;
            }


            margin-top: 0;
        }
        
        .header-menu {
            width: 100%;
            font-weight: $contentFontWeight;
            @include remSize(font-size, 1.2);
        
            display: inline-block;
            text-align: center;

            ul {
                list-style-type: none;
                margin: 0;
                
                li {
                    display: inline;
                    
                    a {
                        text-decoration: none;
                        position: relative;
                    }
                    
                    a:hover {
                        text-decoration: underline;
                    }
                }

                li + li:before {
                    content: " | ";
                    padding-top: 0;
                    padding-bottom: 0;
                    @include mobileSize(padding-left, 10px, 10px, 5px);
                    @include mobileSize(padding-right, 10px, 10px, 5px);
                }
            }
        }

        .meta { 
            font-family: $headerFonts;
            font-weight: $contentFontWeight;
        }
    }
    
    .content {
        margin-top: 0;

        background: $contentBackgroundColour;

        @include mobileSize(width, $widthStandard, $widthSmaller, $widthSmallest);
        @include siteMargin();

        h2 {
            .meta {
                @include remSize(font-size, 1);
            }
        }

        
        .pagination {
            text-align: center;
            
            ul {
                list-style:none; 
                
                
                li{
                    display: inline-block;
                    margin-right: 1em;
                }
                
            }    		    
        }
    }
    
    .footer {
                    
        font-size: 0.8em;
        // overflow: hidden;
        padding-top: 1em;
        z-index: 1;
        
        .copy {
            width: 100%;
            padding-top: 1em;
            text-align: center;
        }
    }
}

.chart-wrapper {

    h2 {
		display: inline-block;
		padding-right: 2em;
		margin-top: 0;
	}

    .chart-legend {

		display: inline-block;
		vertical-align: top;

  		ul {
    		list-style: none;
    		padding:0;
    		margin:0;
    		position: relative;
		}

		li {
			display: inline;
			padding-right: 2em;
			position: relative;
		}
	}
}

.chart-options {
    text-align: center;

    .granularity, .distanceUnit, .options {
		display: inline-block;
	}

    input {
		margin-right: $horizontalSpacing / 2;
	}

	label {
		margin-right: $horizontalSpacing;
	}

    legend.heading {
		border: 1px black solid; 
		margin-left: 1em; 
		padding: 0.2em 0.8em;
	}

    fieldset.options {
        padding: .35em .625em .75em;
    }
}

@media
    only print {
    
        @page {
            margin: 0.75in 0.5in 0.5in 0.5in;

            size: A4;
        }
        
        body {
            background: none;
            background-color: #FFFFFF;

            color: $mainFontPrintColour;
            font-size: $fontSizeStandardPrint;
        }
    
        .container {
                
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        
            .header, .footer {
                display: none;
            }
            
            .content {
                margin-top: 0;
            }
            
            a {
                text-decoration: none;
                color: $mainHeaderColour;
            }
        }

        .post-footer .share, #disqus_thread, .page-navigation {
            display: none;
        }

        .author-links {
            display: none;
        }
        
}

 /* Hides stuff */
 .hidden {
     text-indent: -9999px;
     direction: ltr;
     visibility: hidden;
     display: none;
 }

