@import 'commonStyle';
/////////////////
// Post    //////
/////////////////

.chart-post {

    p {
        text-align: center;
    }

}

.post {

    .groupingList {
        @extend .groupingList;
        margin: 0;
    }

    h3 {
        text-decoration: underline;
    }
    
    h3, h4 {
        margin: 1em 0;
    }

    img {
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .box {
        //TODO: Fix magic numbers

        display: block;
        background: #fff;
        padding: 15px 20px 15px 45px;
        @include remSize(margin-top, 1);
        @include remSize(margin-bottom, 1);
        position: relative;
        
        /*Font*/
        line-height: 1.2;
        text-align: justify;
        
        /*Box Shadow - (Optional)*/
        -moz-box-shadow: 2px 2px 15px #ccc;
        -webkit-box-shadow: 2px 2px 15px #ccc;
        box-shadow: 2px 2px 15px #ccc;

    }

    blockquote {
        @extend .box;

        /* Borders */
        border-left: 15px solid $dividerColour;
        border-right: 2px solid $dividerColour;


        &::before, &::after {
            font-size: 3em;
            font-weight: bold;
            color: lighten($mainFontColour, 10%);
        }

        &::before {
            /* Unicode for Left Double Quote in the top left */
            content: "\201C"; 
            
            position: absolute;
            left: 10px;
            top: 5px;
        }
        
        &::after {
            /* Unicode for Left Double Quote in the bottom right */
            content: "\201D";
            
            position: absolute;
            right: 10px;
            bottom: 5px;
        }
    }

    .post-series {
        @extend .box;
        margin: $verticalSpacing $horizontalSpacing;
    }

    .post-content, footer, aside.post-series {
        @include sitePadding();
    }
    
    ul, ol {
        margin-left: 1.35em;
    }
}

.post-meta {
    display: flex;

    .post-date {
        margin-right: 1em;
    }

}

.post-heading {
    @extend .heading;
}

.post-org {
    display: inline-block;
}
