//$main: #2E2C2F;
$main: #2E2C54;
$sec: #1282A2;
// $sec: #212121;
// $tri: #ADE1E5;
$tri: #42a8c0;

$headerFontColour: #DDDDDD;
$bodyBackgroundColour: #f5f5f5;
$mainBackgroundColour: #FFF;

$categoryTagColour: #E82C0C;
$tagColour: #0089e0;
$dividerColour: $sec;


/* Background particle configuration */
$particle-spacing: 2560px;
$particle-timing-1: 60s;
$particle-timing-2: 120s;
$particle-timing-3: 180s;

/* Media query values */
$mqHandheld: "only screen and (max-width: 767px)";
 
$mqiPad: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) ";
$mqTablet: "only screen and (min-width : 768px) and (max-width : 1024px) ";
//Retina add rule and (-webkit-min-device-pixel-ratio: 2)
//Non-Retina add rule and (-webkit-min-device-pixel-ratio: 1)


/* Font setup */
// $titleFonts: 'Lobster', cursive;
$titleFonts: 'Oswald', sans-serif;
$titlePrintFonts: Helvetica;
$titleFontWeight: 700;
$titlePrintFontWeight: normal;
$titleFontSize: 6rem;
$titleFontSizeHandheld: 4rem;

$headerFonts: 'Open Sans', sans-serif;
$headerPrintFonts: Helvetica;
$headerFontWeight: 700;
$headerPrintFontWeight: bold;

$contentFonts: 'Open Sans', sans-serif;
$contentPrintFonts: $headerPrintFonts;
$contentFontWeight: 300;
$contentPrintFontWeight: normal;