---
layout: main
---
<div class="archives">

	<header class="heading">
		<h1>Archives</h1>
		<nav class="archive-link-wrapper">
			<ul class="archive-links">
				<li {% if page.url == "/archives/" %} class="active" {% endif %}><a href="/archives/"><span class="fa icon-calendar fa-lg fa-fw"></span>Date</a></li>
				<li {% if page.url == "/archives/tags/" %} class="active" {% endif %}><a href="/archives/tags/"><span class="fa icon-price-tags fa-lg fa-fw"></span>Tags</a></li>
				<!-- <li {% if page.url == "/archives/categories/" %} class="active" {% endif %}><a href="/archives/categories/"><span class="fa icon-bookmarks fa-lg fa-fw"></span>Categories</a></li> -->
				<!-- <li {% if page.url == "/archives/projects/" %} class="active" {% endif %}><a href="/archives/projects/"><span class="fa icon-embed2 fa-lg fa-fw"></span>Projects</a></li> -->
			</ul>
		</nav>
	</header>

	<div class="archive-content">
		{{ content }}
	</div>
</div>