<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }} | {{page.title}}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <!--<link rel="stylesheet" href="/css/print.css" media="print">-->
        
        <!-- Analytics -->
        
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
          ga('create', 'UA-42459612-1', 'devwithimagination.com');
          ga('send', 'pageview');
        
        </script>
        
        <!--Make RSS feed discoverable -->
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
        
        <!-- Make older versions of IE understand HTML5 tags -->
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>
    <body>

        <div class="container">
          <div class="site">
            <header class="header">
              <h1 class="title">{{ site.name }}</h1>
              <nav class="links">
	            <ul>
	              {% assign pages_list = site.pages %}
	              {% assign group = 'navigation' %}
	              {% include pages_list %}
	            </ul>
        	  </nav>
	        </header>
	        <div class="mainContent">
                {{ content }}
			</div>
            <footer class="footer">
              <div class="contact">
                <p class="details">
                  David Hutchison<br />
                  {{ site.jobtitle }}, {{ site.location }}<br />
                  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
              </div>
              <div class="social">
	            <p>
    	          <a href="http://github.com/dhutchison/"><img src="/images/GitHub-Mark-32px.png"/> /dhutchison</a><br />
                  <a href="http://twitter.com/DavidHutchison/"><img src="/images/twitter-bird-16x16.png"/> @DavidHutchison</a><br />
	              <a href="http://devwithimagination.wordpress.com/"><img src="/images/wpmini-blue.png" /> Dev With Imagination</a><br />
    	        </p>
              </div>
              <div class="copy">
              	<p>
              	  &copy; David Hutchison 2013
              	</p>
              </div>
            </div>
            </footer>
        </div> <!-- /container -->

    </body>
</html>
