---
layout: compress
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{page.title}} | {{ site.name }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- CSS -->
        <link rel="stylesheet" href="/assets/css/combined.min.css">
        
        <!-- other includes from pages -->
        {% if page.headIncludes %}
            {% for inc in page.headIncludes %}
                {{ inc }}
            {% endfor %}
        {% endif %}
        
        <!-- Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
          ga('create', 'UA-42459612-1', 'devwithimagination.com');
          ga('send', 'pageview');
        
        </script>
        
        <!--Make RSS feed discoverable -->
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml">
        
        <!-- Keywords -->
        {% if page.keywords %}
            <meta name="keywords" content="{{ page.keywords | join:' ' }}">
            {% for keyword in page.keywords %}
                <meta property="article:tag" content="{{ keyword }}">                
            {% endfor %}
        {% endif %}
        
        <!-- Markup for Twitter Cards / Open Meta -->
        {% include share_support %}
        
        
        <!-- Make older versions of IE understand HTML5 tags -->
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>
    <body>

        <div class="container">
          <div class="site" id="container">
              
            <header class="header">
              <h1 class="title"><a href="/" title="Home">{{ site.name }}</a></h1>
              <div class="links">
                  <nav id="nav">
      	            <ul class="fa-ul">
                      {% include pages_list.html pages_list = site.pages group = 'navigation'%}
                          <li>
                              <a href="/feed.xml"><i class="fa-li fa fa-rss fa-lg fa-fw rss"></i></a>
                          </li>
      	            </ul>
                  </nav>
              </div>
	        </header>
	        
	        <div class="content">
                {{ content }}
			</div>
            <footer class="footer">
            <!-- If we want to display author's name and bio -->
            {% if site.data.author.david %}
                <section class="author">
                	<header> 
                	    <a href="{{ site.data.author.david.profile_url }}"> <img class="profile-image" src="{{ site.data.author.david.pic_small }}"></a>
                	</header>
                	<article class="author-details">
                		<!-- Author Name -->
                    	<h4 class="author-name"> {{ site.data.author.david.name }} </h4>
                    	<!-- Author Bio -->
                    	<p class="author-bio"> 
                    		{{ site.data.author.david.bio }}
                    	</p>
                    </article>
                     
                	<!-- Links -->
                	<aside class="author-links">
                        <ul class="fa-ul social">
                	        {% if site.data.author.david.github %}<li>
                                <a href="http://github.com/{{ site.data.author.david.github }}/"><i class="fa-li fa fa-github fa-lg fa-fw"></i>/{{ site.data.author.david.github }}</a>
                            </li>{% endif %}
                          {% if site.data.author.david.stackoverflow %}<li>
                            <a href="http://stackoverflow.com/users/{{ site.data.author.david.stackoverflow }}/"><i class="fa-li fa fa-stack-overflow fa-lg fa-fw"></i>{{ site.data.author.david.stackoverflow }}</a>
                          </li>{% endif %}
                	        {% if site.data.author.david.twitter %}<li>
                    	      <a href="http://twitter.com/{{ site.data.author.david.twitter }}/"><i class="fa-li fa fa-twitter fa-lg fa-fw"></i>@{{ site.data.author.david.twitter }}</a>
                    	    </li>{% endif %}
                    	    {% if site.data.author.david.email %}<li><a href="mailto:{{ site.data.author.david.email }}"><i class="fa-li fa fa-envelope fa-lg fa-fw"></i>{{ site.data.author.david.email }}</a>
                            </li>{% endif %}
                	    </p>
                	  </ul>
                	</aside>
            	</section> 

                              
            {% endif %}
              <section class="copy">
              	<p>
              	  &copy; David Hutchison 2013-2014, <a href="/thanks">with thanks.</a>
              	</p>
              </section>
            </div>
            </footer>
        </div> <!-- /container -->
    </body>
</html>
