---
layout: main
post: true
---
<article class="post">
	<header class="post-heading">
		{% if page.header_image %} {{ page.header_image | markdownify }}{% endif %}
		<h1 class="post-title">
			{{ page.title }}
			{% if page.link %}
				<a href="{{ page.link }}" class="post-link">
					<span class="icon-link1"></span>
				</a>
			{% endif %}
		</h1>
		<div class="post-meta">
			{% if page.date %}
			<div class="post-date">
				<p class="meta">
					<span class="icon-calendar"></span>
					<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" data-updated="true" title="{{ page.date | date_to_string }}">
						{% assign d = page.date | date: "%-d"  %}
						{% case d %}
							{% when '1' or '21' or '31' %}{{ d }}st
							{% when '2' or '22' %}{{ d }}nd
							{% when '3' or '23' %}{{ d }}rd
							{% else %}{{ d }}th
						{% endcase %} of {{ page.date | date: "%B" }}, {{ page.date | date: "%Y" }}</time>
				</p>
			</div>
			{% endif%}
			{% include post_tags.html %}
		</div>	
	</header>
	{% if page.series %}
	<aside class="post-series">
		<p>This post is part {{ page.series_part }} of the series "{{ page.series }}". </p>

		{% assign series_posts = site.posts | where:"series", page.series | sort:"series_part" %}
		<ol>
			{% for node in series_posts %}
			{% capture part %}{{ node.url | remove_first: paginate_path_part }}{% endcapture %}
			{% if node.url == part %}
				{% if page.url == node.url %}
					<li class="active">
				{% else %}
					<li><a href="{{node.url}}">
				{% endif %}
				{% if node.menuIconStyle %}
					<i class="fa-li fa {{ node.menuIconStyle }} fa-lg fa-fw"></i><span class="hidden">{{ node.title }}</span>
				{% else %}
					{{node.title}}
				{% endif %}
				{% if page.url != node.url %}</a>{% endif %}</li>
			{% endif %}{% endfor %}
		</ol>

	</aside>
	{% endif %}
	<section class="post-content">
		{% if site.drop_caps or page.drop_caps %}{% assign drop_cap = content|strip_html|truncate:4|remove:'.' %}{% capture drop_cap_html %}<span class="drop-cap">{{ drop_cap }}</span>{% endcapture %}{{ content|replace_first:drop_cap,drop_cap_html }}
		{% else %}{{ content }}
		{% endif %}
	</section>
	<footer class="post-footer">
    	{% if page.comments %}
    		<div id="disqus_thread"></div>
		    <script src="//devwithimagination.disqus.com/embed.js" async></script>
		    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    	{% endif %}
	</footer>

</article>
