---
layout: main
headIncludes: 
- <!-- tweet button -->
- <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
---
<article class="post">
	{% assign post=page %}
	<header>
		<h2>
			<span class="meta">
				<time datetime="{{ post.date | date_to_xmlschema }}" pubdate="" data-updated="true" title="{{ post.date | date_to_string }}">{{ post.date | date_to_string }}</time>
			</span>
			<a href="{{ post.url }}" class="title">{{ post.title }}</a>
		</h2>
	</header>
	<article>
		{{ content }}
	</article>
	<footer>
		{% include widgets/postCategoryList.html %}
		{% include widgets/postTagList.html %}
		
		<div class="social">
		    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}/{{ post.url }}" data-via="{{ site.twitter }}" data-lang="en">Tweet</a>
		</div>
		
		<nav class="page-navigation">
			{% if post.previous.url %}
			<span class="prev"><a href="{{ post.previous.url }}" title="{{ post.previous.title }}">&laquo; {{ post.previous.title }}</a></span>
			{% endif %}
			
			
			{% if post.next.url %}
			<span class="next"><a href="{{ post.next.url }}" title="{{ post.next.title }}">{{ post.next.title }} &raquo;</a></span>
			{% endif %}
			
		</nav>
	</footer>

</article>
