---
layout: main
---
<article class="post">
	{% assign post=page %}
	<header>
		<h2>
			<span class="meta">
				<time datetime="{{ post.date | date_to_xmlschema }}" pubdate="" data-updated="true" title="{{ post.date | date_to_string }}">{{ post.date | date_to_string }}</time>
			</span>
			<a href="{{ post.url }}" class="title">{{ post.title }}</a>
		</h2>
	</header>
	<article>
		{{ content }}
	</article>
	<footer class="post-footer">
	    <section class="post-org">
    		{% include post_category_list %}
	    	{% include post_tag_list %}
		</section>
		{% include share_box %}
		
		<nav class="page-navigation">
			{% if post.previous.url %}
			<span class="prev"><a href="{{ post.previous.url }}" title="{{ post.previous.title }}">&laquo; {{ post.previous.title }}</a></span>
			{% endif %}
			
			
			{% if post.next.url %}
			<span class="next"><a href="{{ post.next.url }}" title="{{ post.next.title }}">{{ post.next.title }} &raquo;</a></span>
			{% endif %}
			
		</nav>
	</footer>

</article>
